html {
  font-family: "microsoft yahei";
}

body {
  width: 100%;
  height: 100%;
  /*overflow: hidden;*/
  background: #853776;
}

li {
  list-style: none;
  color: #fff;
}

.main {
  margin: 50px 0;
}

.active {
  opacity: 1;
  box-shadow: 1px 1px 5px #fff;
}

a {
  text-decoration: none;
  color: #FF8215;
}

.info {
  background: #fff;
  box-shadow: 1px 1px 5px #000;
  width: auto;
  float: left;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  display: none;
}

table {
  border: 0;
  margin: 0 auto;
}
table tr td {
  width: 52px;
  height: 52px;
  border-radius: 10px;
  text-align: center;
  border: none;
  font-size: 12px;
  word-break: break-all;
  opacity: 0.7;
  position: relative;
}

.htmlColor {
  background: #81d183;
}

.tableColor {
  background: #d17d57;
}

.headColor {
  background: #6575d3;
}

.inlineColor {
  background: #d1d157;
}

.titleColor {
  background: #8591d3;
}

.blockColor {
  background: #d17d47;
}

.formColor {
  background: #55d157;
}

.menuColor {
  background: #d1d1d3;
}

.inlineBlockColor {
  background: #d17dd3;
}

.end {
  margin-top: 100px;
}
.end ul {
  float: left;
  margin-right: 100px;
}
.end ul li {
  height: 30px;
}
.end ul li span {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  float: left;
  margin-right: 10px;
}