.clearfix {
    *zoom: 1;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.rotating {
    -webkit-animation: rotate360 2s linear infinite;
    -moz-animation: rotate360 2s linear infinite;
    animation: rotate360 2s linear infinite;
}

@-webkit-keyframes inflate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
    }
    100% {
        -webkit-transform: scale(1, 1);
    }
}

@-moz-keyframes inflate {
    0% {
        -moz-animationtransform: scale(0.1, 0.1);
    }
    100% {
        -moz-animationtransform: scale(1, 1);
    }
}

@-o-keyframes inflate {
    0% {
        -o-transform: scale(0.1, 0.1);
    }
    100% {
        -o-transform: scale(1, 1);
    }
}

@keyframes inflate {
    0% {
        transform: scale(0.1, 0.1);
    }
    100% {
        transform: scale(1, 1);
    }
}

@-webkit-keyframes rotate360 {
    0% {
        -webkit-transform: rotate(360deg);
    }
    100% {
        -webkit-transform: scale(0deg);
    }
}

@-moz-keyframes rotate360 {
    0% {
        -moz-animationtransform: rotate(360deg);
    }
    100% {
        -moz-animationtransform: scale(0deg);
    }
}

@-o-keyframes rotate360 {
    0% {
        -o-transform: rotate(360deg);
    }
    100% {
        -o-transform: scale(0deg);
    }
}

@keyframes rotate360 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: scale(0deg);
    }
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

.fade.in {
    opacity: 1;
}

.collapse {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.35s ease;
    -moz-transition: height 0.35s ease;
    -o-transition: height 0.35s ease;
    transition: height 0.35s ease;
}

.collapse.in {
    height: auto;
}

@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    70% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
        transform: scale(0.3);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
    }
    70% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

.jh-root, .jh-type-object, .jh-type-array, .jh-key, .jh-value, .jh-root tr {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: bold;
}

.jh-key, .jh-value {
    margin: 0;
    padding: 0.2em;
    font-weight: bold;
}

.jh-value {
    border-left: 1px solid #ddd;
}

.jh-type-number {
    text-align: center;
    color: #5286BC;
}

.jh-type-bool-true {
    text-align: center;
    color: #5A811C;
}

.jh-type-bool-false {
    text-align: center;
    color: #D45317;
}

.jh-type-bool-image {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: bottom;
}

.jh-type-string {
    font-style: italic;
    color: #6E6E6E;
}

.jh-array-key {
    font-style: italic;
    font-size: small;
    text-align: center;
}

.jh-object-key, .jh-array-key {
    color: #444;
    vertical-align: top;
}

.jh-type-object > tbody > tr:nth-child(odd), .jh-type-array > tbody > tr:nth-child(odd) {
    background-color: #f5f5f5;
}

.jh-type-object > tbody > tr:nth-child(even), .jh-type-array > tbody > tr:nth-child(even) {
    background-color: #fff;
}

.jh-type-object, .jh-type-array {
    width: 100%;
    border-collapse: collapse;
}

.jh-root {
    border: 1px solid #ccc;
    margin: 0.2em;
}

th.jh-key {
    text-align: left;
}

.jh-type-object > tbody > tr, .jh-type-array > tbody > tr {
    border: 1px solid #ddd;
    border-bottom: none;
}

.jh-type-object > tbody > tr:last-child, .jh-type-array > tbody > tr:last-child {
    border-bottom: 1px solid #ddd;
}

.jh-type-object > tbody > tr:hover, .jh-type-array > tbody > tr:hover {
    border: 1px solid #F99927;
}

.jh-empty {
    font-style: italic;
    color: #999;
    font-size: small;
}

.jh-a {
    text-decoration: none;
}

.jh-a:hover {
    text-decoration: underline;
}

.jh-a span.jh-type-string {
    text-decoration: none;
    color: #268ddd;
    font-style: normal;
}

.navbar-warning {
    margin-bottom: 0;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-warning .alert {
    margin-bottom: 0;
}

#init-loading .rotating {
    margin-top: 25%;
}

#home-carousel {
    margin-bottom: 200px;
}

#home-carousel .carousel-control {
    background-color: #2c3e50;
    line-height: 10px;
    padding-left: 10px;
}

#home-carousel img {
    max-height: 361px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.db-select {
    width: 100%;
}

.dashboard-form {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dashboard-form select {
    margin-top: 10px;
    margin-bottom: 10px;
}

#intro {
    overflow: visible;
    width: 100%;
    margin-top: -20px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

#intro h1 {
    font-size: 56px;
}

#intro .lead {
    margin-top: 20px;
}

#intro .register-block {
    margin-left: 10px;
}

#intro .lattices-graphic {
    height: 50px;
    margin-top: -30px;
}

#intro.tealTheme {
    background-color: #96d8d3;
    color: #2c3e50;
}

#intro.tealTheme a {
    color: lightseagreen;
}

#intro.tealTheme .btn {
    color: #ffffff;
}

#intro .btn:hover {
    color: #ffffff;
}

.darkTheme {
    background-color: #2c3e50;
    background-image: url("/static/images/pattern-bg.491ca99374c5.png");
    background-repeat: repeat;
    color: #fff;
}

.darkTheme p {
    color: #ffffff;
}

.darkTheme a {
    color: lightseagreen;
}

.darkTheme .btn {
    color: #ffffff;
}

.darkTheme .btn-link {
    border-color: lightseagreen;
    color: lightseagreen;
}

.darkTheme .btn-inverse {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: 0 2px 1px #39969c;
    -moz-box-shadow: 0 2px 1px #39969c;
    box-shadow: 0 2px 1px #39969c;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
    background: #4bbdb4;
    border: 0 none;
}

.darkTheme .btn-inverse:hover, .darkTheme .btn-inverse:focus, .darkTheme .btn-inverse:active, .darkTheme .btn-inverse.active, .darkTheme .btn-inverse.disabled, .darkTheme .btn-inverse[disabled] {
    color: #ffffff;
    text-decoration: none;
    -webkit-box-shadow: 0 2px 1px #39969c;
    -moz-box-shadow: 0 2px 1px #39969c;
    box-shadow: 0 2px 1px #39969c;
    background-color: #4bb3bd;
    *background-color: #40afa6;
}

.darkTheme .btn-inverse:focus, .darkTheme .btn-inverse:active, .darkTheme .btn-inverse.active {
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
    background-color: #39969c \9;
}

.wiki .nav-tabs a {
    border: 1px solid #ffffff;
    font-weight: bold;
}

.wiki .nav-tabs .active a {
    background: #ffffff;
}

.wiki .tab-content, .wiki.one-tab {
    padding: 8px 16px;
    background: #ffffff;
}

.wiki #toc td {
    padding: 8px 16px;
}

.wiki.publications i {
    display: block;
}

.wiki i {
    font-size: 14px;
}

.wiki ul > li:not([class^="toclevel"]) {
    list-style: disc inside;
}

.wiki ol > li {
    list-style: decimal inside;
}

.showcase {
    font-family: "ff-dagny-web-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    line-height: 20px;
    margin-top: 30px;
}

.showcase h6 {
    font-weight: 600;
    color: #4169e1;
    cursor: pointer;
}

.showcase h6:hover {
    text-decoration: underline;
}

@media (min-width: 767px) {
    .showcase .span2 {
        margin-left: 40px;
    }
}

.showcase .span2.active h6 {
    color: #000000;
}

.disabled {
    pointer-events: none;
}

a {
    color: #4169e1;
}

.node {
    width: 100px;
    height: 100px;
    background: red;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
}

svg {
    z-index: 1;
    min-height: 100%;
}

svg body {
    background: rgba(137, 20, 255, 0);
}

svg h5 {
    padding: 0;
    width: 210px;
}

line {
    fill: none;
    stroke: rgba(137, 20, 255, 0.84);
    stroke-width: 1px;
}

.node circle {
    stroke-width: 1.5px;
}

text {
    x: 0
    y: 4;
    color: #fff;
}

.icon {
    position: relative;
}

nav ul {
    margin-top: 0px;
    vertical-align: middle;
}

nav li {
    cursor: pointer;
}

#db-stats {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#db-stats li {
    margin-bottom: 20px;
    display: inline-block;
    width: 228px;
}

#db-stats li .well {
    margin-bottom: 5px;
}

#db-stats li small {
    font-weight: normal;
    font-size: 10.5px;
    margin-top: -20px;
}

.newsfeed {
    font-size: 11.9px;
    background-color: #eeeeee;
    border-radius: 6px;
    padding: 5px 10px 0px 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 2px solid white;
    line-height: normal;
}

.newsfeed h4 {
    margin-bottom: 0px;
}

.newsfeed hr {
    margin-bottom: 5px;
}

#user-newsfeed.modal {
    width: 1000px;
    margin-left: 0;
    left: 5%;
}

#jsmol {
    text-align: center;
    background: #000000;
    height: 100%;
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
}

#jsmol .feature {
    position: absolute;
    top: -100px;
    z-index: 2 !important;
}

#jsmol h5 {
    color: #888888;
}

#jsmol a {
    font-size: 17.5px;
}

#jsmol #jmol_area {
    position: absolute;
    top: -80px;
    left: -40px;
    cursor: pointer;
    clip: rect(3em, 20em, 20em, 0);
}

footer {
    padding-bottom: 30px;
    margin-top: 20px;
}

footer ul.row-fluid {
    margin-left: 0px;
    padding: 20px;
}

footer ul {
    margin: auto;
}

footer ul li {
    margin: 10px 10px 0 0;
}

.divider {
    border-right: 1px solid #ffffff;
    height: 50px;
    top: 0;
}

i {
    font-size: 35px;
}

#about-section .padded {
    margin-top: 30px;
    margin-bottom: 30px;
}

#about-section h2 {
    text-align: center;
}

#about-section .stage {
    margin-left: 15px;
}

#about-section .logos {
    padding-top: 20px;
}

#about-section .span2 {
    padding-bottom: 30px;
}

#about-section .span2#batt {
    text-align: center;
    font-family: Helvetica, sans-serif;
    letter-spacing: -1pt;
    font-size: 50px;
    margin-top: 25px;
}

#about-section .span2 img {
    vertical-align: middle;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: inherit;
}

#about-section .inline a {
    font-family: "ff-dagny-web-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17.5px;
    text-decoration: underline;
}

#terms, #privacy {
    margin-top: 40px;
}

#terms h4, #privacy h4 {
    margin-top: 30px;
}

#janrainEngageEmbed {
    margin: 0;
    padding: 0;
}

.stage {
    height: 200px;
    width: 320px;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 0.2, 0, -0.0009, 0, 0, 9, 0, 0, 0, 0, 1);
    -moz-transform: matrix3d(1, 0, 0, 0, 0, 0.2, 0, -0.0009, 0, 0, 9, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(1, 0, 0, 0, 0, 0.2, 0, -0.0009, 0, 0, 9, 0, 0, 0, 0, 1);
    -o-transform: matrix3d(1, 0, 0, 0, 0, 0.2, 0, -0.0009, 0, 0, 9, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 0.2, 0, -0.0009, 0, 0, 9, 0, 0, 0, 0, 1);
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    background-color: #96d8d3;
    border: 1px solid #4bbdb4;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.stage:after {
    width: 100%;
    margin-top: 200px;
    background: #4bbdb4;
    speak: none;
    height: 20px;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0.0009, 0, 0, 1, 0, 0, 0, 0, 1);
    -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0.0009, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0.0009, 0, 0, 1, 0, 0, 0, 0, 1);
    -o-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0.0009, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0.0009, 0, 0, 1, 0, 0, 0, 0, 1);
    content: "";
    display: block;
    border: 1px solid #4bbdb4;
}

#about-intro {
    position: relative;
}

#about-intro .graphic {
    margin-top: 50px;
}

#about-intro .text-info {
    color: #000000;
    margin: -50px 0 50px 0;
}

#about-intro h4 {
    padding-bottom: 10px;
}

#about-intro .lead {
    text-align: justify;
    font-size: 17.5px;
    padding: 2px 10px;
}

#about-intro img {
    -webkit-animation: bounceInDown 1s ease 0;
    -moz-animation: bounceInDown 1s ease 0;
    -ms-animation: bounceInDown 1s ease 0;
    -o-animation: bounceInDown 1s ease 0;
    animation: bounceInDown 1s ease 0;
    position: absolute;
    max-height: 140px;
    margin-top: -10px;
    z-index: 9;
}

#about-intro img:hover + .stage {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 0.24, 0, -0.0009, 0, 0, 9, 0, 0, 0, 0, 1);
    -moz-transform: matrix3d(1, 0, 0, 0, 0, 0.24, 0, -0.0009, 0, 0, 9, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(1, 0, 0, 0, 0, 0.24, 0, -0.0009, 0, 0, 9, 0, 0, 0, 0, 1);
    -o-transform: matrix3d(1, 0, 0, 0, 0, 0.24, 0, -0.0009, 0, 0, 9, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 0.24, 0, -0.0009, 0, 0, 9, 0, 0, 0, 0, 1);
}

.checkbox {
    padding-top: 10px;
}

#main-content {
    min-height: 570px;
}

#main-content hr {
    position: absolute;
    z-index: 1 !important;
    left: 0;
}

#main-content hr.contained {
    margin: 10px 0 10px 0;
    position: relative;
}

#main-content .span10 > h4 {
    text-align: center;
}

#battery-results {
    margin-top: 20px;
    min-width: 810px;
    margin-right: 27.96208531%;
}

#battery-results tr {
    cursor: pointer;
}

#battery-results thead tr {
    cursor: auto;
}

th small {
    line-height: 0px;
}

.pt-icon {
    width: 50px;
    height: 30px;
    opacity: 0.5;
    cursor: pointer;
    margin-left: 15px;
}

.pt-icon:hover {
    opacity: 1;
}

#pt-section {
    position: relative;
}

@media (max-width: 767px) {
    #pt-section.responsive-pt {
        padding: 0;
        zoom: .6;
        -webkit-transform-origin: 0 0;
        width: 142.857143%;
    }
}

#pt-section .numpad {
    margin-left: 100px;
    position: absolute;
    top: 30px;
}

.jsmol-controls {
    margin: -10px 0 10px 0;
}

.jsmol-controls .btn {
    margin-top: -3px;
}

.jsmol-controls .well {
    margin-top: 10px;
}

.jsmol-controls .dl-horizontal {
    margin: 0 auto;
}

.jsmol-controls .dl-horizontal dt {
    width: 225px;
}

.jsmol-controls .dl-horizontal dd {
    margin-left: 250px;
}

.detail {
    margin-top: 10px;
    margin-bottom: 30px;
}

.detail .table .warning-popover {
    margin-top: -10px;
    float: right;
    margin-right: 10px;
}

.detail .alert {
    margin-top: 15px;
}

.detail #structure-picker {
    height: 30px;
}

.detail .framework > h4, .detail .framework > h5 {
    line-height: 0px;
    width: 300px;
    padding-left: 10px !important;
}

.detail .detail-header {
    color: #2c3e50;
    background: #ffffff;
    margin: -30px 0 20px 0;
    position: relative;
    padding: 0px 10px 15px 0px;
    border-bottom: 1px solid #999999;
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
}

.detail .detail-header small {
    color: #507192;
}

.detail .detail-header #toggle-guides {
    margin-top: 20px;
}

.detail .detail-header #toggle-guides .icon {
    font-size: 17.5px;
    margin-right: 2px;
    text-shadow: none;
    top: 2px;
}

.detail .detail-header .detail-section {
    padding: 0 20px 0 20px;
    display: inline-block;
}

.detail .detail-header .vertical-line {
    border-right: 1px solid #eeeeee;
    position: absolute;
    top: 0px;
    height: 100%;
}

.detail .detail-header .pull-right {
    text-align: right;
}

.detail .detail-header .pull-left {
    text-align: left;
}

.detail .detail-header h4 {
    margin: -5px 0;
    padding: 0;
}

.detail .detail-header .mp-id .divider {
    left: 0;
}

.chemform, [class^="element-"] .symbol {
    font-family: 'Roboto Slab', serif;
}

#molecule .feature {
    background: #000000;
}

#molecule #svg {
    height: 300px;
}

#molecule #svg svg {
    margin-top: 90px;
}

#battery #o2evolution {
    height: 400px;
    margin-bottom: 20px;
}

#battery #discharge-curve {
    margin-bottom: 30px;
    padding-left: 10px;
}

#battery #discharge-curve.conversion {
    height: 520px;
}

#battery #diffusion .well {
    height: 260px;
}

#battery #diffusion ul.stats {
    margin: 0 0 20px 0;
}

#battery #diffusion ul.stats:not(.label) {
    margin-top: 10px;
    font-size: 28px;
    font-weight: 500;
}

#battery #diffusion ul.stats li {
    margin-bottom: 15px;
}

#battery #diffusion .label {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10.5px;
}

#battery .reaction {
    vertical-align: middle;
}

#battery .reaction .plus:last-child {
    display: none;
}

#battery .reaction .arrow {
    margin: 0 5px 0 5px;
    color: #7d70e4;
}

#battery figure {
    width: 100%;
    margin-left: 0;
}

#battery .pair {
    margin-top: 20px;
}

#battery .pair .charge {
    display: inline-block;
    width: 100px;
}

#battery .pair .value {
    display: inline;
    font-size: 17.5px;
    margin-right: 10px;
}

#battery .pair td:not(:first-child) {
    vertical-align: middle;
    text-align: center;
}

#battery .pair td[rowspan="2"] {
    width: 140px;
}

#battery .pair td[rowspan="2"] strong {
    display: block;
}

#battery .pair-header .span2 {
    width: 140px;
    margin-left: 0;
    margin-bottom: 5px;
}

ul.oxidation-list li {
    width: 50px;
    float: left;
    display: inline-block;
    position: relative;
}

ul.oxidation-list li ul {
    position: relative;
    margin-left: 0;
}

ul.oxidation-list li ul li {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    font-weight: 600;
    border-radius: 30px;
    margin-right: 10px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
    background-color: #87d3cd;
    background-image: -moz-linear-gradient(top, #96d8d3, #70cbc4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#96d8d3), to(#70cbc4));
    background-image: -webkit-linear-gradient(top, #96d8d3, #70cbc4);
    background-image: -o-linear-gradient(top, #96d8d3, #70cbc4);
    background-image: linear-gradient(to bottom, #96d8d3, #70cbc4);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff96d8d3', endColorstr='#ff70cbc4', GradientType=0);
    border-color: #70cbc4 #70cbc4 #40afa6;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border: 1px solid #4bbdb4;
    display: block;
    float: none;
    line-height: 25px;
    margin: 10px 0 10px 0;
    cursor: pointer;
}

ul.oxidation-list li ul li:hover, ul.oxidation-list li ul li.active {
    -webkit-transition: background 0.1s linear;
    -moz-transition: background 0.1s linear;
    -o-transition: background 0.1s linear;
    transition: background 0.1s linear;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
    background-color: #304357;
    background-image: -moz-linear-gradient(top, #3e5771, #1a242f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3e5771), to(#1a242f));
    background-image: -webkit-linear-gradient(top, #3e5771, #1a242f);
    background-image: -o-linear-gradient(top, #3e5771, #1a242f);
    background-image: linear-gradient(to bottom, #3e5771, #1a242f);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3e5771', endColorstr='#ff1a242f', GradientType=0);
    border-color: #1a242f #1a242f #000000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border: 1px solid #2c3e50;
}

ul.select-radiation .span:first-of-type {
    vertical-align: middle;
    font-size: initial;
}

ul.select-radiation .icon {
    color: #4bbdb4;
    top: 10px;
    margin-right: 10px;
}

ul.select-radiation li {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    font-weight: 600;
    border-radius: 30px;
    margin-right: 10px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
    background-color: #87d3cd;
    background-image: -moz-linear-gradient(top, #96d8d3, #70cbc4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#96d8d3), to(#70cbc4));
    background-image: -webkit-linear-gradient(top, #96d8d3, #70cbc4);
    background-image: -o-linear-gradient(top, #96d8d3, #70cbc4);
    background-image: linear-gradient(to bottom, #96d8d3, #70cbc4);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff96d8d3', endColorstr='#ff70cbc4', GradientType=0);
    border-color: #70cbc4 #70cbc4 #40afa6;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border: 1px solid #4bbdb4;
}

ul.select-radiation li:hover, ul.select-radiation li.active {
    -webkit-transition: background 0.1s linear;
    -moz-transition: background 0.1s linear;
    -o-transition: background 0.1s linear;
    transition: background 0.1s linear;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
    background-color: #304357;
    background-image: -moz-linear-gradient(top, #3e5771, #1a242f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3e5771), to(#1a242f));
    background-image: -webkit-linear-gradient(top, #3e5771, #1a242f);
    background-image: -o-linear-gradient(top, #3e5771, #1a242f);
    background-image: linear-gradient(to bottom, #3e5771, #1a242f);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3e5771', endColorstr='#ff1a242f', GradientType=0);
    border-color: #1a242f #1a242f #000000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border: 1px solid #2c3e50;
}

#xrd-graph {
    height: 370px;
    padding-top: 10px;
}

#material textarea {
    width: 100%;
    height: 300px;
}

#material .spacegroup-link {
    font-size: 17.5px;
}

#material #elastic-tensor .table a {
    font-size: 25.2px;
    font-weight: normal;
    margin-left: 20px;
}

#material #elastic-tensor .popover-content {
    min-width: 182px;
    font-weight: normal;
}

#material #elastic-tensor #et-warning {
    display: inline-block;
    float: right;
}

#material #elastic-tensor #et-warning > .btn {
    vertical-align: sub;
}

#material #elastic-tensor #et-warning > .popover {
    max-width: 400px;
    white-space: nowrap;
}

#material #elastic-tensor #et-warning > .popover ul {
    padding-left: 0.5em;
}

#material #elastic-tensor #et-warning > .popover ul > li {
    list-style: disc outside;
}

#material #bandstructure-plot {
    margin-top: 1px;
}

#material #bandstructure-plot .label-bg {
    font-size: 14px;
}

#material .launch-pd {
    margin-left: 20px;
}

#material .launch-pd ul.pd-options {
    right: 0;
    left: auto;
}

#material #dos-graph-select {
    margin-left: -20px;
}

#material #electronic-structure .highcharts-container {
    margin-left: -20px;
}

#material #dos-graph-select {
    height: 60px;
}

#material .calc-summary-more.btn {
    margin-top: 15px;
}

#material #a-list-delete {
    margin-top: -5px;
    padding-left: 5px;
    position: absolute;
    right: 4px;
}

#material .a-list-tag {
    position: relative;
    padding-right: 20px;
}

#bibtex.porous .modal-body textarea {
    width: 100%;
    height: 300px;
}

#snl {
    padding-top: 20px;
}

#snl h5 {
    margin-left: 0;
    float: left;
    width: 100px;
}

#snl li {
    display: inline;
    margin-right: 5px;
}

.all-submitters li {
    display: inline;
    margin-right: 5px;
}

.diagram {
    position: relative;
    -webkit-overflow-scrolling: touch;
}

.diagram h4 ul {
    margin-left: 10px;
}

.diagram h4 ul, .diagram h4 li {
    display: inline;
}

.diagram ::-webkit-scrollbar {
    width: 8px;
}

.diagram ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.diagram select {
    width: auto;
}

.diagram .tab-content {
    height: 250px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 8px;
}

.diagram .tab-content tbody {
    *margin-top: -1px;
}

.diagram .tab-content tbody tr {
    cursor: pointer;
}

.diagram .chart {
    position: relative;
    margin-top: 20px;
}

.diagram .chart .rotating.molecule {
    position: absolute;
    text-align: center;
    top: 30%;
    left: 40%;
}

.diagram .chart.diagram-loading svg, .diagram .chart.diagram-loading img {
    opacity: .5;
}

.diagram .chart .label {
    padding: 2px 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#pourbaix-diagrams .static {
    margin-top: 10px;
}

#pourbaix-diagrams .concentration-control {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#pourbaix-diagrams .concentration-control .row {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#pourbaix-diagrams .concentration-control [class*="span"] {
    clear: both;
    float: none;
    display: inline-block;
}

#pourbaix-diagrams .concentration-control .concentration-slider {
    padding-bottom: 6px;
}

#pourbaix-diagrams .concentration-control .concentration-slider b {
    margin-left: 35%;
}

#pourbaix-diagrams .concentration-control .concentration-slider .irs {
    margin-top: -20px;
}

#pourbaix-diagrams .gibbs-help {
    font-size: smaller;
    margin-left: 60px;
    margin-top: 5px;
}

#pourbaix-diagrams .gibbs-help img {
    width: 180px;
}

#pourbaix-diagrams .gibbs-help .gibbs-colormap {
    width: 180px;
}

#pourbaix-diagrams .gibbs-help .alert.gibbs-warning {
    margin-bottom: 0px;
    padding: 6px 10px 6px;
}

#pourbaix-diagrams .gibbs-help .gibbs-colormap-legend {
    margin-left: 25px;
    margin-bottom: -20px;
}

#pourbaix-diagrams span.domain:not(.plot-label-bg) {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    padding: 1px;
}

#pourbaix-diagrams span.domain:not(.plot-label-bg):empty {
    padding: 0px;
}

#pourbaix-diagrams .handle {
    width: 28px;
    margin-top: 3px;
    margin-left: -10px;
    padding: 2px;
    border: none;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 2px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    letter-spacing: 3px;
    cursor: pointer;
    text-shadow: 1px 1px 2px #ffffff;
    -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
}

#pourbaix-diagrams .CRD {
    border-left: none !important;
}

#pourbaix-diagrams .slice {
    white-space: nowrap;
    color: white;
    padding: 5px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

#pourbaix-diagrams .slicer-wrap {
    margin-left: 60px;
    padding-right: 50px;
}

#pourbaix-diagrams .slicer-wrap .slicer {
    width: 100%;
}

#pourbaix-diagrams hr {
    border-top: 1px solid #eeeeee;
}

#pourbaix-diagrams .compounds {
    margin-left: 5px;
}

#pourbaix-diagrams .checkbox {
    display: block;
    margin-left: -30px;
}

#pourbaix-diagrams .checkbox input {
    margin-top: 2px;
    width: 20px;
    height: 20px;
}

#pourbaix-diagrams .plot-label-bg {
    -webkit-animation: inflate 0.35s ease 0;
    -moz-animation: inflate 0.35s ease 0;
    -ms-animation: inflate 0.35s ease 0;
    -o-animation: inflate 0.35s ease 0;
    animation: inflate 0.35s ease 0;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
    background: #7d70e4;
    z-index: 5 !important;
    color: white !important;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 14px;
}

#pourbaix-diagrams .plot-label-bg a {
    color: aquamarine;
}

#pourbaix-diagrams .bubble {
    -webkit-animation: inflate 0.35s ease 0;
    -moz-animation: inflate 0.35s ease 0;
    -ms-animation: inflate 0.35s ease 0;
    -o-animation: inflate 0.35s ease 0;
    animation: inflate 0.35s ease 0;
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    line-height: 36px;
    font-weight: 600;
    background: #7d70e4;
    z-index: 5 !important;
    color: white !important;
    border-radius: 30px;
    margin-right: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#pourbaix-diagrams .tab-content {
    height: 450px;
}

#pourbaix-diagrams .feature {
    padding-top: 15px;
    padding-left: 10px;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    display: block;
    background: #ffffff;
}

#pourbaix-diagrams .pourbaix-error {
    margin-top: 20px;
    margin-left: 0px;
}

#phase-diagrams #mark-comp {
    margin-bottom: -4px;
}

#phase-diagrams #mark-comp .btn {
    margin-top: -5px;
}

#phase-diagrams #mark-comp input {
    width: 170px;
    height: 25px;
}

#phase-diagrams .box-header .control {
    padding: 10px 0 10px 10px;
}

#phase-diagrams .dataTables_wrapper {
    margin-top: 0;
}

#phase-diagrams .close {
    margin: 10px;
}

#phase-diagrams center {
    margin-bottom: 10px;
}

#phase-diagrams center h5 {
    margin: 0px;
}

#phase-diagrams .compounds {
    margin-left: 10px;
}

#phase-diagrams .tab-content {
    height: 510px;
    padding-top: 0;
}

#phase-diagrams .mu-control {
    margin-right: 20px;
    margin-top: 10px;
}

#phase-diagrams .mu-control .mu-data {
    margin-left: 30px;
}

#phase-diagrams .left-arr {
    margin-left: 20px;
}

#phase-diagrams td:first-child {
    width: 150px;
}

#phase-diagrams td:last-child {
    width: 120px;
}

#phase-diagrams td {
    word-wrap: break-word;
    overflow: visible;
}

#phase-diagrams td.text-right {
    width: 100px;
}

#phase-diagrams .well {
    padding: 20px 5px 0px 5px;
    background: #ffffff;
    min-height: 340px;
}

#phase-diagrams .well img {
    padding-bottom: 100px;
}

#phase-diagrams .irs {
    margin-top: -7px;
    float: left;
    margin-left: 1px;
    width: 140px;
}

#phase-diagrams .pd-row {
    margin-top: 20px;
}

#phase-diagrams .pd-row .label {
    width: 120px;
}

#phase-diagrams .loading {
    margin-top: -30px;
    width: 100%;
    height: 70px;
}

#phase-diagrams .loading .molecule {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#phase-diagrams .span5 {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background: #f5f5f6;
    padding: 10px;
}

#phase-diagrams .open-element li {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    font-weight: 600;
    border-radius: 30px;
    margin-right: 10px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
    background-color: #87d3cd;
    background-image: -moz-linear-gradient(top, #96d8d3, #70cbc4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#96d8d3), to(#70cbc4));
    background-image: -webkit-linear-gradient(top, #96d8d3, #70cbc4);
    background-image: -o-linear-gradient(top, #96d8d3, #70cbc4);
    background-image: linear-gradient(to bottom, #96d8d3, #70cbc4);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff96d8d3', endColorstr='#ff70cbc4', GradientType=0);
    border-color: #70cbc4 #70cbc4 #40afa6;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border: 1px solid #4bbdb4;
}

#phase-diagrams .open-element li:hover, #phase-diagrams .open-element li.active {
    -webkit-transition: background 0.1s linear;
    -moz-transition: background 0.1s linear;
    -o-transition: background 0.1s linear;
    transition: background 0.1s linear;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
    background-color: #304357;
    background-image: -moz-linear-gradient(top, #3e5771, #1a242f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3e5771), to(#1a242f));
    background-image: -webkit-linear-gradient(top, #3e5771, #1a242f);
    background-image: -o-linear-gradient(top, #3e5771, #1a242f);
    background-image: linear-gradient(to bottom, #3e5771, #1a242f);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3e5771', endColorstr='#ff1a242f', GradientType=0);
    border-color: #1a242f #1a242f #000000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border: 1px solid #2c3e50;
}

.pt-inner {
    position: absolute;
    top: -385px;
    left: 125px;
    width: 500px;
    z-index: 9;
}

#searchfield {
    overflow: visible;
    width: 810px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#searchfield .menu-icon {
    margin-right: 5px;
}

#searchfield #input-clear {
    font-size: 14px;
    cursor: pointer;
    margin: -20px;
    color: #999999;
    z-index: 200;
    position: absolute;
    margin-top: 12px;
}

#searchfield #input-clear:hover {
    color: #555555;
}

#searchfield .searchbox {
    z-index: 100;
    margin: 0px auto 0px 39px;
    position: relative;
    overflow: visible;
    width: 810px;
}

#searchfield .searchbox .help-inline {
    position: absolute;
    top: -20px;
    font-size: 10.5px;
}

#searchfield .searchbox .help-inline.span2 {
    margin-left: -105px;
}

#searchfield .searchbox .help-inline.span3 {
    margin-left: -195px;
}

#searchfield .searchbox .span2 {
    width: 90px;
    margin-right: 10px;
}

#searchfield .searchbox .span3 {
    width: 180px;
    margin-right: 10px;
}

#searchfield .searchbox input {
    height: 30px;
    padding: 0 5px 0 5px;
    display: inline;
    width: 370px;
}

#searchfield .searchbox input.active {
    -webkit-box-shadow: 0px 0px 0px 1px #81ffdd;
    -moz-box-shadow: 0px 0px 0px 1px #81ffdd;
    box-shadow: 0px 0px 0px 1px #81ffdd;
}

#searchfield .searchbox input:focus.invalid, #searchfield .searchbox input.focused.invalid {
    -webkit-box-shadow: 0 0 3px rgba(100, 0, 0, 0.9);
    -moz-box-shadow: 0 0 3px rgba(100, 0, 0, 0.9);
    box-shadow: 0 0 3px rgba(100, 0, 0, 0.9);
    background-color: #ffedf0;
}

#searchfield .searchbox .input-prepend {
    margin: 4px 0 0 5px;
}

#searchfield .searchbox .input-prepend button[type='submit'] {
    margin-left: -1px;
    height: 30px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
}

#searchfield .searchbox i {
    line-height: 8px;
}

#results {
    position: relative;
    margin-bottom: 38px;
}

#results .DTTT.btn-group {
    float: right;
}

#results .btn-group {
    margin-left: 20px;
}

#results tr {
    max-height: 35px;
    min-height: 20px;
}

#results #count {
    margin-top: 20px;
}

#results .table th, #results .table td {
    vertical-align: middle;
}

.rotating {
    font-size: 28px;
    margin-top: 30px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    color: #2c3e50;
    font-weight: 600;
    background: #7fffd4;
    border-radius: 60px;
    margin-right: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dataTables_wrapper {
    margin-top: 20px;
}

.dataTables_wrapper .bootstrap-select {
    width: 70px;
}

.dataTables_wrapper tr {
    cursor: pointer;
}

.dark-well {
    background: slategray;
    color: white;
}

.dark-well input {
    color: white;
}

.dark-well .icon {
    color: aquamarine;
    font-size: 28px;
}

.icon-logout {
    margin-top: 20px;
}

ul.filters {
    margin-left: 0;
}

ul.filters li {
    padding: 5px 10px 5px 10px;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
}

ul.filters li:hover {
    background: #becddb;
}

ul.filters li i {
    font-size: 11.9px;
    margin-right: 5px;
    color: #4169e1;
}

.label {
    padding: 10px 0 5px;
}

.sans-input {
    margin-left: 20px;
}

.slider-value {
    font-size: 11.9px;
    margin-top: -18px;
    margin-bottom: 6px;
    opacity: .8;
}

#note {
    margin-top: 100px;
    margin-left: 70px;
    position: absolute;
}

.note {
    z-index: 99;
    color: #555555;
    font-weight: 500;
    font-size: 11.9px;
}

#upload {
    display: block;
    margin-bottom: 40px;
}

#upload.hover {
    -webkit-transition: background 0.1s linear;
    -moz-transition: background 0.1s linear;
    -o-transition: background 0.1s linear;
    transition: background 0.1s linear;
    background: aquamarine;
    color: #181e2a;
}

.highcharts-button {
    cursor: pointer !important;
}

#rxn-calculator .calculator {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    color: #999999;
    font-weight: 600;
    background: #ffffff;
    border-radius: 40px;
    margin-right: 10px;
    font-size: 17.5px;
    margin: 20px 0 -20px 0;
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
}

#rxn-calculator .well h2, #rxn-calculator .well h3, #rxn-calculator .well h4, #rxn-calculator .well h5 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
}

#rxn-calculator .formation-labels {
    padding-bottom: 10px;
    background-color: #2c3e50;
    width: 80%;
    color: #ffffff;
}

#rxn-calculator .table {
    border-top: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 3px 1px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 1px 0px rgba(0, 0, 0, 0.1);
    font-size: 17.5px;
}

#rxn-calculator .table .popover {
    font-size: 14px;
}

#rxn-calculator .table th {
    background: #eeeeee;
    text-align: center;
    border-top: 2px solid #ffffff;
}

#rxn-calculator .table th:not(:last-child) {
    border-right: 1px solid #d5d5d5;
}

#rxn-calculator .table td {
    padding: 20px;
}

#editor-sidebar {
    margin-top: 15px;
    border-top: 1px solid #3e5771;
    padding-bottom: 20px;
}

#editor-sidebar .label {
    border-top: 0;
}

#editor-sidebar .undo {
    margin-bottom: 10px;
}

#editor-sidebar #species {
    display: inline-block;
}

#editor-sidebar #species .remove {
    margin-left: 20px;
    cursor: pointer;
    color: #ff8798;
}

#editor-sidebar #species .remove:hover, #editor-sidebar #species .remove.active {
    color: #ff3b57;
}

#editor-sidebar #species-removal {
    background-color: transparent;
    width: 100%;
    margin-top: 10px;
}

#editor-sidebar #species-removal .slider-row:not(:last-child) {
    border-bottom: 1px dotted #3e5771;
}

#editor-sidebar #species-removal #oxidation-info-link {
    font-size: 17.5px;
}

#editor-sidebar #species-removal td {
    width: 50%;
}

#editor-sidebar #species-removal td .dropdown-toggle {
    margin-top: 10px;
}

#editor-sidebar #species-removal .irs {
    width: 90px;
    margin-top: -10px;
    margin-bottom: 6px;
}

#editor-sidebar #species-removal .irs .irs-single {
    margin-top: 5px;
}

#editor-sidebar #matrix {
    height: 110px;
}

#editor-sidebar #matrix .btn {
    margin: 10px 0;
}

#editor-sidebar #matrix table {
    float: left;
    background: none;
}

#editor-sidebar #matrix table input {
    width: 30px;
    margin-right: 6px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 1px;
}

#editor-sidebar #matrix input[type='checkbox'] {
    width: 20px;
    height: 20px;
}

#edit-structure #loading {
    margin: -5px 0 20px 0;
}

#edit-structure .left, #edit-structure .right {
    float: left;
    display: inline-block;
    width: 106px;
}

#edit-structure .detail-header {
    margin-top: 0;
    height: 50px;
    padding: 20px 0 0 0;
}

.apps-nav {
    margin-top: -20px;
}

.apps-nav .navbar-inner {
    background-color: #2c3e50;
}

.apps-nav .pad-top {
    position: relative;
}

.apps-nav .app-desc {
    position: absolute;
    top: 60%;
    color: #fff;
    vertical-align: middle;
    color: #8aa4be;
}

.apps-nav .nav.centered-nav {
    margin-left: 28%;
    float: none;
}

.apps-nav li {
    font-size: 17.5px;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    color: #4bbdb4;
    font-weight: 600;
    background: transparent;
    border-radius: 40px;
    margin-right: 10px;
    border: 1px solid #4bbdb4;
    -webkit-box-shadow: 0 0px 1px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 0px 1px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0px 1px rgba(255, 255, 255, 0.5);
    margin-top: 10px;
    margin-right: 8px;
    line-height: 44px;
}

.apps-nav li.active {
    color: #ccc;
    background: #1a242f;
}

.apps-nav li:hover {
    background: #233140;
}

.apps-nav li.yt-icon-interface {
    padding-top: 2px;
}

#lattice-params .tab-content {
    background: rgba(255, 255, 255, 0.65);
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-left-radius: 2px;
}

#lattice-params .tab-pane {
    padding-left: 5px;
}

#lattice-params .tab-pane li {
    position: relative;
    margin-bottom: 10px;
}

#lattice-params .tab-pane li .badge {
    vertical-align: middle;
    display: inline-block;
}

#lattice-params .tab-pane li .value {
    margin-left: 5px;
    display: inline-block;
}

#lattice-params .tab-pane ul {
    display: inline-block;
    width: 110px;
    margin-bottom: 5px;
}

#structure-upload #upload {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.structures {
    -webkit-overflow-scrolling: touch;
}

.structures .row-fluid {
    display: none;
}

.structures header .btn {
    margin-top: -20px;
}

.structures header div {
    margin-top: -10px;
}

.structures .dataTables_scrollBody {
    margin-top: -5px;
}

.structures .dataTable {
    margin-top: 0;
}

.structures ::-webkit-scrollbar {
    width: 8px;
}

.structures ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.structures .coordinates {
    position: relative;
    max-height: 240px;
    overflow-y: scroll;
    margin-bottom: 0px;
}

.structures .coordinates .dataTables_empty {
    display: none;
}

.structures table {
    width: 100%;
    margin-top: 10px;
    position: relative;
}

.structures th {
    position: relative;
}

.structures tr.abc th {
    background: none;
    position: relative;
    height: 40px;
    width: 100px;
    border: 0 none;
}

.structures tr.abc th:hover {
    background: white;
}

.structures tr.abc th .badge {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.structures tr.coordination th {
    background: #181e2a;
    color: #ffffff;
    text-align: center;
}

.structures .structure-summary th {
    font-size: 28px;
    text-align: center;
    line-height: 24px;
    border: 0 none;
    border-bottom: 1px solid #e4e6e8;
}

#compare li {
    width: 125px;
}

#compare li .atomno {
    margin-top: -15px;
    float: left;
}

#compare li:not(:last-child) {
    margin-right: 20px;
}

ul.ColVis_collection {
    width: 220px !important;
    font-size: 11.9px;
}

.calculations {
    -webkit-overflow-scrolling: touch;
    max-height: 650px;
}

.calculations ::-webkit-scrollbar {
    width: 8px;
}

.calculations ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.changelog {
    margin-bottom: 10px;
}

.changelog code {
    margin-right: 5px;
}

.changelog span {
    margin-right: 5px;
}

.changelog .close {
    margin-right: 10px;
}

.user-data li {
    padding: 20px;
    color: #2c2c37;
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #eeeeee;
    background-color: #eeeeee;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.user-data li .span1 {
    width: 115px;
}

.user-data li .btn {
    color: #595970;
    margin-top: -10px;
}

#sp-candidates .btn-group {
    left: 250px;
    top: 45px;
}

#sp-candidates div.dataTables_paginate {
    margin-top: -10px;
}

#sp-candidates select {
    width: 80px;
}

#external-data td {
    vertical-align: middle;
}

#external-data .dl-horizontal:before, #external-data .dl-horizontal:after {
    display: block;
}

#external-data dt {
    width: 100px;
}

#external-data dd {
    margin-left: 120px;
}

#external-data .display-name {
    height: 90px;
}

.molecules-results tbody svg {
    display: none;
}

.matrix {
    position: relative;
    padding: 5px;
}

.matrix tbody:before {
    content: " ";
    position: absolute;
    border-left: 2px solid #666;
    border-top: 2px solid #666;
    border-bottom: 2px solid #666;
    padding: 5px;
    top: 45px;
    bottom: -10px;
    left: -5px;
}

.matrix tbody:after {
    content: " ";
    position: absolute;
    border-right: 2px solid #666;
    border-top: 2px solid #666;
    border-bottom: 2px solid #666;
    padding: 5px;
    top: 45px;
    bottom: -10px;
    right: -5px;
}

.matrix.longhead tbody:before, .matrix.longhead tbody:after {
    top: 65px;
}

.elastic-table td, .calc-summary-table td {
    width: 50%;
}

.downloads-dropdown input {
    margin-right: 10px;
}

.tag {
    margin-bottom: 5px;
    margin-right: 5px;
}

.sans-data {
    margin-top: 30px;
    font-size: 28px;
    color: #999999;
}

.sans-data .icon {
    margin-bottom: 15px;
}

#syntax-help {
    margin-left: 70px;
    font-weight: normal;
}

.help-text, .toggleable-detail .shown-or-hidden {
    display: none;
    padding: 5px;
    border: 1px solid #9ab1c7;
    background: #ffffff;
    margin-top: 5px;
    color: #597ea2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#nmg-logo {
    max-width: 100px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#reset-zoom {
    position: absolute;
    right: 150px;
    top: 50px;
    z-index: 10;
}

span.units {
    padding-left: 4.66666667px;
}

.tout-tutorials.btn {
    margin-left: 10px;
    background: rgba(238, 95, 91, 0.5);
    -webkit-box-shadow: 0 2px 1px rgba(148, 42, 37, 0.5);
    -moz-box-shadow: 0 2px 1px rgba(148, 42, 37, 0.5);
    box-shadow: 0 2px 1px rgba(148, 42, 37, 0.5);
}

.tout-tutorials i {
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 2px;
    margin-left: -10px;
    font-size: 28px;
}

#tasks-nav.nav-pills > li.blessed > a {
    font-weight: bold;
}

#tasks-nav + .toggleable-detail {
    margin-top: -10px;
    margin-bottom: 10px;
}

#phonon-dispersion #vibcrystal {
    width: 515px;
    height: 515px;
}

#phonon-dispersion .nopad {
    padding-left: 0px;
}

#phonon-dispersion .pad {
    padding-right: 20px;
}

#phonon-dispersion input[type=range] {
    width: 160px;
}

#phonon-dispersion .inp-small {
    width: 50px;
}

#electronic-structure.static-mode #bandstructure-plot, #phonon-dispersion.static-mode #bandstructure-plot {
    display: inline-block;
}

#electronic-structure.static-mode #bandstructure-plot img, #phonon-dispersion.static-mode #bandstructure-plot img {
    margin-left: -20px;
    height: 500px;
}

#electronic-structure.static-mode #dos-graph, #phonon-dispersion.static-mode #dos-graph {
    display: inline-block;
}

#electronic-structure.static-mode #dos-graph img, #phonon-dispersion.static-mode #dos-graph img {
    height: 500px;
}

#electronic-structure #dos-graph + p, #phonon-dispersion #dos-graph + p {
    margin-left: -20px;
}

#electronic-structure button.make-interactive, #phonon-dispersion button.make-interactive, #electronic-structure button, #phonon-dispersion button, #electronic-structure button make-static, #phonon-dispersion button make-static, #electronic-structure button#toggle-interactive, #phonon-dispersion button#toggle-interactive, #electronic-structure button#download-ddb, #phonon-dispersion button#download-ddb, #electronic-structure button#thermodynamic, #phonon-dispersion button#thermodynamic {
    margin-bottom: 20px;
}

#substrates .dataTables_scrollBody {
    margin-top: -5px;
}

#substrates .dataTables_wrapper {
    margin-top: 0;
}

#eqns-of-state #eos-graph {
    margin-top: 10px;
}

#eqns-of-state table th, #eqns-of-state td {
    font-size: smaller;
    text-align: center;
}

#structurepredictor button[type="submit"] {
    margin-top: 43px;
    margin-left: -170px;
}

.import-molecules-csv input[type="file"] {
    display: none;
}

.nrf.plotTitle {
    margin-bottom: 5px;
    text-align: center;
    font-size: 24px;
}

.nrf.axisLabel {
    position: absolute;
    text-align: center;
    font-size: 16px;
}

.nrf.xaxisLabel {
    bottom: 0;
    left: 0;
    right: 0;
}

.nrf.yaxisLabel {
    top: 80%;
    left: -25px;
    transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

.nrf.help {
    margin-top: 1em;
}

.nrf.help a {
    text-decoration: none;
}

.nrf.help a:first-of-type {
    font-size: 18px;
    vertical-align: text-top;
}

.surfaces-table table th {
    vertical-align: middle;
    text-align: center;
}

.surfaces-table table td {
    text-align: center;
}

.flip-container {
    perspective: 1000px;
    -webkit-perspective: 1000px;
    width: 425px;
    height: 300px;
}

.flip-container.flip .flipper {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.flip-container .front, .flip-container .back {
    width: 425px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.flip-container .front {
    z-index: 2;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
}

.flip-container .back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.flip-container .flipper {
    transition: 0.6s;
    -webkit-transition: 0.6s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    position: relative;
}

.material-nav {
    margin-top: -25px;
    margin-bottom: -15px;
}

.material-nav .inline {
    border: 1px solid #9ab1c7;
    border-radius: 4px;
    padding: 5px;
    background-color: rgba(50, 128, 134, 0.1);
}

.material-nav .inline a {
    font-family: "ff-dagny-web-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17.5px;
    line-height: 25px;
    text-decoration: underline;
    color: #328086;
}

.nopass-login {
    text-align: center;
    margin-left: -20px;
}

.nopass-login form {
    margin: -20px -20px 0;
}

.nopass-login .form-group label {
    display: block;
}

.nopass-login .form-group input {
    height: inherit;
}

.nopass-login .text-warning {
    color: #c09853;
}

.nopass-login .text-danger {
    color: #b94a48;
}

.nopass-login .text-success {
    color: #468847;
}

.nopass-login .text-info {
    color: #3a87ad;
}

.synthesis select.formulae, .synthesis .select2-container {
    width: 196px;
}

.synthesis .get-descriptions {
    vertical-align: top;
}

.synthesis .descriptions .panel {
    border-radius: 5px;
    box-shadow: 2px 2px 5px #999999;
    margin-top: 10px;
}

.synthesis .descriptions .panel .vote {
    font-size: 18px;
}

.synthesis .descriptions .panel .down {
    padding-left: 30px;
    float: left;
}

.synthesis .descriptions .panel .reset {
    font-size: 14px;
    vertical-align: text-bottom;
    padding-left: 100px;
}

.synthesis .descriptions .panel .up {
    padding-right: 30px;
    float: right;
}

.synthesis .descriptions .panel .doi {
    padding-left: 3px;
}

.synthesis .descriptions .panel .text {
    padding: 0 8px 0;
    margin-bottom: 5px;
}

.synthesis .row.is-flex {
    display: flex;
    flex-wrap: wrap;
}

.synthesis .row.is-flex > [class*='span'] {
    display: flex;
    flex-direction: column;
}

#interface-reactions .card {
    word-wrap: break-word;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: .25rem;
}

#interface-reactions .card .card-header {
    cursor: pointer;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

#interface-reactions .advanced-options-enter-active {
    transition: opacity .5s;
}

#interface-reactions .advanced-options-enter {
    opacity: 0;
}

#interface-reactions .inputs form .reactants label:not(:first-of-type) {
    margin-left: 10px;
}

#interface-reactions .inputs form .reactants input {
    height: 30px;
    width: 150px;
}

#interface-reactions .inputs form .grand label:not(:first-of-type) {
    margin-left: 10px;
}

#interface-reactions .inputs form .grand label[for=open-el] {
    display: none;
}

#interface-reactions .inputs form .grand select {
    width: 50px;
}

#interface-reactions .inputs form label {
    vertical-align: super;
}

#interface-reactions .inputs form input[type=checkbox] {
    vertical-align: super;
    margin-right: 12px;
}

#interface-reactions .inputs form button {
    margin-top: 10px;
    vertical-align: super;
    margin-left: 170px;
    width: 200px;
}

#interface-reactions #ir-table {
    margin-top: 15px;
}

#interface-reactions .table {
    -webkit-box-shadow: 0 3px 1px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 1px 0px rgba(0, 0, 0, 0.1);
}

#interface-reactions .table th {
    padding-bottom: 2px;
    background: #eeeeee;
    text-align: center;
    vertical-align: middle;
    border-top: 1px solid #d5d5d5;
}

#interface-reactions .table th:not(:last-child) {
    border-right: 1px solid #d5d5d5;
}

#interface-reactions .table td {
    padding: 10px;
}

#interface-reactions .table td:not( :nth-of-type(3)) {
    text-align: right;
}

#interface-reactions .table td:nth-of-type(3) {
    text-align: center;
}

#interface-reactions .fontastic-white-question {
    font-size: 16px;
}

#interface-reactions #ir-download {
    margin-top: 5px;
}

#xas-matcher .alert {
    margin-left: 141px;
}

#xas-matcher .input-chemsys form {
    margin-left: 161px;
    margin-bottom: 0;
}

#xas-matcher .input-chemsys form label {
    vertical-align: super;
    margin-left: 75px;
    margin-right: 10px;
}

#xas-matcher .input-chemsys form input {
    height: 30px;
    width: 150px;
}

#xas-matcher .input-chemsys form button {
    vertical-align: super;
    margin-left: 10px;
}

#xas-matcher .input-chemsys form .select-absorbing-element {
    margin-left: 88px;
}

#xas-matcher .input-chemsys form .select-absorbing-element label {
    vertical-align: super;
    margin: auto 10px;
}

#xas-matcher .input-chemsys form .select-absorbing-element select {
    width: 50px;
}

#xas-matcher .verify-chemsys .alert, #xas-matcher .verify-chemsys .well {
    margin-left: 141px;
}

#xas-matcher .uploaded-spectrum {
    margin-left: 141px;
}

#xas-matcher .plot-or-upload-spectra > div {
    margin-left: 141px;
}

#xas-matcher .plot-or-upload-spectra .btn i {
    vertical-align: sub;
}

#xas-matcher .plot-or-upload-spectra .btn.plot-computed-spectra {
    display: inline-block;
    margin-right: 50px;
    margin-left: 75px;
}

#xas-matcher .materials-table .btn-group {
    left: 250px;
    top: 50px;
    display: none;
}

#xas-matcher .materials-table div.dataTables_paginate {
    margin-top: -10px;
}

#xas-matcher .comparing-plots {
    height: 480px;
    position: relative;
}

#xas-matcher .comparing-plots .xas-loading {
    text-align: center;
    position: absolute;
    z-index: 99;
    top: 150px;
    left: 380px;
}

#xas-matcher .comparing-plots .plots-display {
    width: 782px;
    height: 480px;
    margin-left: 77px;
}

#xas-matcher .comparing-plots .plot-panel-control .smoothing {
    margin-top: 24px;
    margin-left: 180px;
}

#xas-matcher .comparing-plots .plot-panel-control .smoothing .smoothing-label {
    vertical-align: top;
}

#xas-matcher .comparing-plots .plot-panel-control .smoothing .smoothing-control {
    margin-top: -15px;
    margin-left: 5px;
}

#xas-matcher .comparing-plots .plot-panel-control .download-plots {
    margin-top: 20px;
}

#xas-matcher .comparing-plots .plot-panel-control .download-plots button {
    width: 100%;
}

.jh-root {
    font-family: "symbola";
}

.jh-type-string {
    font-style: normal;
}