<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>晶体结构</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="text/javascript">window.NREUM || (NREUM = {}), __nr_require = function (e, n, t) {
        function r(t) {
            if (!n[t]) {
                var o = n[t] = {exports: {}};
                e[t][0].call(o.exports, function (n) {
                    var o = e[t][1][n];
                    return r(o || n)
                }, o, o.exports)
            }
            return n[t].exports
        }

        if ("function" == typeof __nr_require) return __nr_require;
        for (var o = 0; o < t.length; o++) r(t[o]);
        return r
    }({
        1: [function (e, n, t) {
            function r() {
            }

            function o(e, n, t) {
                return function () {
                    return i(e, [c.now()].concat(u(arguments)), n ? null : this, t), n ? void 0 : this
                }
            }

            var i = e("handle"), a = e(3), u = e(4), f = e("ee").get("tracer"), c = e("loader"), s = NREUM;
            "undefined" == typeof window.newrelic && (newrelic = s);
            var p = ["setPageViewName", "setCustomAttribute", "setErrorHandler", "finished", "addToTrace", "inlineHit", "addRelease"],
                d = "api-", l = d + "ixn-";
            a(p, function (e, n) {
                s[n] = o(d + n, !0, "api")
            }), s.addPageAction = o(d + "addPageAction", !0), s.setCurrentRouteName = o(d + "routeName", !0), n.exports = newrelic, s.interaction = function () {
                return (new r).get()
            };
            var m = r.prototype = {
                createTracer: function (e, n) {
                    var t = {}, r = this, o = "function" == typeof n;
                    return i(l + "tracer", [c.now(), e, t], r), function () {
                        if (f.emit((o ? "" : "no-") + "fn-start", [c.now(), r, o], t), o) try {
                            return n.apply(this, arguments)
                        } catch (e) {
                            throw f.emit("fn-err", [arguments, this, e], t), e
                        } finally {
                            f.emit("fn-end", [c.now()], t)
                        }
                    }
                }
            };
            a("actionText,setName,setAttribute,save,ignore,onEnd,getContext,end,get".split(","), function (e, n) {
                m[n] = o(l + n)
            }), newrelic.noticeError = function (e, n) {
                "string" == typeof e && (e = new Error(e)), i("err", [e, c.now(), !1, n])
            }
        }, {}], 2: [function (e, n, t) {
            function r(e, n) {
                if (!o) return !1;
                if (e !== o) return !1;
                if (!n) return !0;
                if (!i) return !1;
                for (var t = i.split("."), r = n.split("."), a = 0; a < r.length; a++) if (r[a] !== t[a]) return !1;
                return !0
            }

            var o = null, i = null, a = /Version\/(\S+)\s+Safari/;
            if (navigator.userAgent) {
                var u = navigator.userAgent, f = u.match(a);
                f && u.indexOf("Chrome") === -1 && u.indexOf("Chromium") === -1 && (o = "Safari", i = f[1])
            }
            n.exports = {agent: o, version: i, match: r}
        }, {}], 3: [function (e, n, t) {
            function r(e, n) {
                var t = [], r = "", i = 0;
                for (r in e) o.call(e, r) && (t[i] = n(r, e[r]), i += 1);
                return t
            }

            var o = Object.prototype.hasOwnProperty;
            n.exports = r
        }, {}], 4: [function (e, n, t) {
            function r(e, n, t) {
                n || (n = 0), "undefined" == typeof t && (t = e ? e.length : 0);
                for (var r = -1, o = t - n || 0, i = Array(o < 0 ? 0 : o); ++r < o;) i[r] = e[n + r];
                return i
            }

            n.exports = r
        }, {}], 5: [function (e, n, t) {
            n.exports = {exists: "undefined" != typeof window.performance && window.performance.timing && "undefined" != typeof window.performance.timing.navigationStart}
        }, {}], ee: [function (e, n, t) {
            function r() {
            }

            function o(e) {
                function n(e) {
                    return e && e instanceof r ? e : e ? f(e, u, i) : i()
                }

                function t(t, r, o, i) {
                    if (!d.aborted || i) {
                        e && e(t, r, o);
                        for (var a = n(o), u = v(t), f = u.length, c = 0; c < f; c++) u[c].apply(a, r);
                        var p = s[y[t]];
                        return p && p.push([b, t, r, a]), a
                    }
                }

                function l(e, n) {
                    h[e] = v(e).concat(n)
                }

                function m(e, n) {
                    var t = h[e];
                    if (t) for (var r = 0; r < t.length; r++) t[r] === n && t.splice(r, 1)
                }

                function v(e) {
                    return h[e] || []
                }

                function g(e) {
                    return p[e] = p[e] || o(t)
                }

                function w(e, n) {
                    c(e, function (e, t) {
                        n = n || "feature", y[t] = n, n in s || (s[n] = [])
                    })
                }

                var h = {}, y = {}, b = {
                    on: l,
                    addEventListener: l,
                    removeEventListener: m,
                    emit: t,
                    get: g,
                    listeners: v,
                    context: n,
                    buffer: w,
                    abort: a,
                    aborted: !1
                };
                return b
            }

            function i() {
                return new r
            }

            function a() {
                (s.api || s.feature) && (d.aborted = !0, s = d.backlog = {})
            }

            var u = "nr@context", f = e("gos"), c = e(3), s = {}, p = {}, d = n.exports = o();
            d.backlog = s
        }, {}], gos: [function (e, n, t) {
            function r(e, n, t) {
                if (o.call(e, n)) return e[n];
                var r = t();
                if (Object.defineProperty && Object.keys) try {
                    return Object.defineProperty(e, n, {value: r, writable: !0, enumerable: !1}), r
                } catch (i) {
                }
                return e[n] = r, r
            }

            var o = Object.prototype.hasOwnProperty;
            n.exports = r
        }, {}], handle: [function (e, n, t) {
            function r(e, n, t, r) {
                o.buffer([e], r), o.emit(e, n, t)
            }

            var o = e("ee").get("handle");
            n.exports = r, r.ee = o
        }, {}], id: [function (e, n, t) {
            function r(e) {
                var n = typeof e;
                return !e || "object" !== n && "function" !== n ? -1 : e === window ? 0 : a(e, i, function () {
                    return o++
                })
            }

            var o = 1, i = "nr@id", a = e("gos");
            n.exports = r
        }, {}], loader: [function (e, n, t) {
            function r() {
                if (!E++) {
                    var e = x.info = NREUM.info, n = l.getElementsByTagName("script")[0];
                    if (setTimeout(s.abort, 3e4), !(e && e.licenseKey && e.applicationID && n)) return s.abort();
                    c(y, function (n, t) {
                        e[n] || (e[n] = t)
                    }), f("mark", ["onload", a() + x.offset], null, "api");
                    var t = l.createElement("script");
                    t.src = "https://" + e.agent, n.parentNode.insertBefore(t, n)
                }
            }

            function o() {
                "complete" === l.readyState && i()
            }

            function i() {
                f("mark", ["domContent", a() + x.offset], null, "api")
            }

            function a() {
                return O.exists && performance.now ? Math.round(performance.now()) : (u = Math.max((new Date).getTime(), u)) - x.offset
            }

            var u = (new Date).getTime(), f = e("handle"), c = e(3), s = e("ee"), p = e(2), d = window, l = d.document,
                m = "addEventListener", v = "attachEvent", g = d.XMLHttpRequest, w = g && g.prototype;
            NREUM.o = {
                ST: setTimeout,
                SI: d.setImmediate,
                CT: clearTimeout,
                XHR: g,
                REQ: d.Request,
                EV: d.Event,
                PR: d.Promise,
                MO: d.MutationObserver
            };
            var h = "" + location, y = {
                    beacon: "bam.nr-data.net",
                    errorBeacon: "bam.nr-data.net",
                    agent: "js-agent.newrelic.com/nr-1118.min.js"
                }, b = g && w && w[m] && !/CriOS/.test(navigator.userAgent),
                x = n.exports = {offset: u, now: a, origin: h, features: {}, xhrWrappable: b, userAgent: p};
            e(1), l[m] ? (l[m]("DOMContentLoaded", i, !1), d[m]("load", r, !1)) : (l[v]("onreadystatechange", o), d[v]("onload", r)), f("mark", ["firstbyte", u], null, "api");
            var E = 0, O = e(5)
        }, {}]
    }, {}, ["loader"]);</script>
    <script type="text/javascript">window.NREUM || (NREUM = {});
    NREUM.info = {
        "beacon": "bam.nr-data.net",
        "errorBeacon": "bam.nr-data.net",
        "licenseKey": "488418a6fe",
        "applicationID": "176556248",
        "transactionName": "MlYDZxNRXUBVB0xRXQscJ0YPU0daWwoXTUYMXxIdAl9dXVEHTFdAX14FUU8MX1xXBVRLDEtEE1IRQFZX",
        "queueTime": 1,
        "applicationTime": 375,
        "agent": ""
    }</script>

    <!--    <meta name="viewport" content="user-scalable = no">
       -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta name="keywords" content="Sodium peroxide - IV, Sodium peroxide - III, Sodium peroxide - II"/>
    <meta name="description"
          content="NaO2 is Marcasite structured and crystallizes in the orthorhombic Pnnm space group. The structure is three-dimensional. Na is bonded to six equivalent O atoms to form NaO6 octahedra that share corners with eight equivalent NaO6 octahedra, corners with six equivalent ONa3O tetrahedra, and edges with two equivalent NaO6 octahedra. The corner-sharing octahedral tilt angles are 71°. All Na–O bond lengths are 2.42 Å. O is bonded to three equivalent Na and one O atom to form distorted ONa3O tetrahedra that share corners with three equivalent NaO6 octahedra, corners with thirteen equivalent ONa3O tetrahedra, and  an edgeedge with one ONa3O tetrahedra. The corner-sharing octahedra tilt angles range from 58–69°. The O–O bond length is 1.35 Å."/>
    <link rel="search"
          type="application/opensearchdescription+xml"
          title="Search Materials Project"
          href='opensearch.25669ffdaab0.xml'>
    <link rel="shortcut icon" href='/images/favicon.00f51d402f3d.png'/>
    <link rel="stylesheet" href='stylesheets/less/compiled/nucleus.5db1710fde48.css' charset="utf-8">
    <link rel="stylesheet" href='stylesheets/less/compiled/app.12ad2f516774.css' charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">
    <!-- LH -->
    <script type="text/javascript" src="JSmol.full.js"></script>

    <script type="text/javascript">
        if (!window.console) window.console = {};
        if (!window.console.log) window.console.log = function () {
        };
    </script>


    <script src="/static/scomponents/requirejs/require.a0fb07562cea.js"
            data-main="/static/js/dist/config.fa1f1c266ba8.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            require(["base"], function () {
                window.PATH = "js/redesign/views/";
                window.STATIC_URL = "/static/";
                window.GROUPS = JSON.parse("[]");
                window.SANDBOX = "core";
                $("span.chemform").each(function () {
                    $(this).html(_.htmlFormula($(this).text()))
                })

                require(["Material"],
                    function (Material) {
                        $(document).ready(function () {
                            window.Material = new Material("mp-1901", "NaO2")
                        });
                    })

            });
        };
    </script>


    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-26097776-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            Jmol.setDocument(0);
            var address = $('#materialName').val();
            address = "cif/" + address + ".cif";

            var Info = {
                color: "#000000",
                height: 500,
                width: 500,
                src: address,
                // load: ' {1 1 1};set showUnitCell on',
                // script: "load $" + address,
                use: "HTML5",
                j2sPath: "j2s",
                jarPath: "java",
                jarFile: "JmolAppletSigned0.jar",
                isSigned: true,
                serverURL: "php/jsmol.php",
                // addSelectionOptions: true,
                menuFile: "jmol.mnu",
                language: "zh-CN",
                disableInitialConsole: true,
                showUnitCell: true
            };
            var jmol = Jmol.getApplet("myJmol", Info);
            $("#JmolModel").html(Jmol.getAppletHtml("myJmol", Info));
        });
    </script>


    <meta charset="utf-8">
    <style type="text/css">

        a:link,
        a:hover,
        a:visited,
        a:active {
            color: #fff;
            text-decoration: none;
        }

        body {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;

            background: #fff;
        }

        .card-holder {
            position: fixed;
            width: 0px;
            overflow: visible;
        }

        .card-wrapper {
            display: inline-block;
            float: right;
            clear: both;
        }

        .card {
            position: relative;
            left: 32px;
            padding: 16px 32px 16px 64px;
            margin: 8px;
            x-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 8px 0 8px -8px rgba(0, 0, 0, 0.5);
            background: #fff;
            transition: all 0.3s ease-in-out 0.1s;
        }

        .card:hover {
            position: relative;
            left: 100%;
            margin-left: -32px;
            box-shadow: 0 -8px 8px -8px rgba(0, 0, 0, 0.5),
            0 8px 8px -8px rgba(0, 0, 0, 0.5);
            transition: all 0.3s ease-in-out;
        }

        .card-content {
            display: inline-block;
            color: #fff;
            font-family: 'Droid Sans', sans-serif;
            font-size: 16px;
            font-weight: bold;
            white-space: nowrap;
        }

        .bg-01 {
            background: #539770;
        }

        .bg-02 {
            background: #4B7D74;
        }

        .bg-03 {
            background: #8DC2BC;
        }

        .bg-04 {
            background: #EDD6B4;
        }

        .bg-05 {
            background: #BE7467;
        }

        .bg-06 {
            background: #E2AE63;
        }

    </style>

</head>
<script src="js/admin/jquery.min.js"></script>
<script src="js/admin/bootstrap.min.js?v=3.3.6"></script>
<body>
<header>
    <div th:replace="foreWeb/index1::nav"></div>
</header>


<div class="container">
    <input id="materialName" type="hidden" th:attr="value=${materialName}">
    <div class="detail" id="material">
        <div class="row detail-header">
			<span class="detail-section">
				<h5><small>material</small></h5>
                <!--<h4 class="chemform">NaO<sub>2</sub></h4>-->
                <h4 class="chemform" th:text="${materialName}"></h4>
			</span>
            <span class="vertical-line"></span>
            <span class="detail-section">
				<h5><small>ID:</small></h5>
				<h4>mp-1901</h4>
			</span>
            <span class="vertical-line"></span>
            <span class="detail-section">
	</span>
            <span class="vertical-line"></span>


            <span class="detail-section pull-right">
    <button class="btn btn-primary" id="toggle-guides">
      <span class="icon" data-icon="0"></span>
      <span class="text">帮助指南</span>
    </button>
  </span>
        </div>
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span1">
                    </div>
                    <div class="span6">
                        <!-- 三维显示部分 -->
                        <div id="jsmol">
                            <div id="jmolApplet_appletinfotablediv" style="width:516px;height:516px;position:relative">
                                <div id="JmolModel"
                                     style="z-index: 9999; width: 100%; height: 100%; left: 0px; display: block;">
                                </div>
                            </div>
                        </div>


                        <hr class="pull-up">
                        <button class="btn btn-primary" id="edit-xtal">编辑晶体</button>

                        <div class="launch-pd btn-group">
                            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                生成相图
                                <span class="caret"></span>
                            </button>
                            <ul class="pd-options dropdown-menu dropdown-menu-right">

                                <li><a data-pdtype="phase" href="#">
                                    成分相图</a></li>


                                <li><a data-pdtype="pourbaix" href="#">
                                    稳定性（Pourbaix）</a></li>

                            </ul>
                        </div>


                        <div class="pull-down pull-up">
                            <strong>标签: </strong>
                            <span class="label-bg tag" th:text="${materialName}"></span>

                            <span class="label-bg tag" th:text="${materialName}"></span>

                            <span class="label-bg tag" th:text="${materialName}"></span>

                        </div>
                    </div>
                    <div class="span3">
                        <!--Lattice Parameters栏-->
                        <div id="final-structures">
                            <div id="lattice-params">
                                <h4>
                                    图形参数
                                </h4>
                                <div class="tab-pane active" id="comp-lattice">
                                    <ul>
                                        <li>
                                            <span class="badge">a</span>
                                            <div class="value">
                                                <div th:text="${para[0]}"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="badge">b</span>
                                            <div class="value">
                                                <div th:text="${para[1]}"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="badge">c</span>
                                            <div class="value">
                                                <div th:text="${para[2]}"></div>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <span class="badge">α</span>
                                            <div class="value">
                                                <div th:text="${para[3]}"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="badge">β</span>
                                            <div class="value">
                                                <div th:text="${para[4]}"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="badge">γ</span>
                                            <div class="value">
                                                <div th:text="${para[5]}"></div>
                                            </div>
                                        </li>
                                    </ul>

                                    <!--                                    <div>-->
                                    <!--                                        <span class="label-bg">体积</span>-->
                                    <!--                                        <strong>83.383 Å<sup>3</sup></strong>-->
                                    <!--                                    </div>-->

                                </div>


                                <!-- end tab-content -->

                            </div>

                            <div class="structures pull-down">
                                <header>
                                    <h4>最终结构</h4>
                                    <div class="download-cif">
                                        <div class="download-cif btn-group pull-right">
                                            <button class="btn btn-primary btn-small dropdown-toggle"
                                                    data-toggle="dropdown">
                                                <span class="typcn typcn-download"></span> CIF
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="cif-options dropdown-menu dropdown-menu-right">
                                                <li><a data-ciftype="computed" href="#">
                                                    计算</a></li>
                                                <li><a data-ciftype="conventional_standard" href="#">
                                                    常规标准</a></li>
                                                <li><a data-ciftype="primitive" href="#">
                                                    原始细胞</a></li>
                                                <li><a data-ciftype="symmetrized" href="#">
                                                    对称</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>分数坐标</div>
                                </header>

                                <div id="DataTables_Table_2_wrapper" class="dataTables_wrapper no-footer">
                                    <div class="dataTables_scroll">
                                        <div class="dataTables_scrollHead"
                                             style="overflow: hidden; position: relative; border: 0px; width: 100%;">
                                            <div class="dataTables_scrollHeadInner"
                                                 style="box-sizing: content-box; width: 237px; padding-left: 0px;">
                                                <table class="table table-bordered coordinates dataTable no-footer"
                                                       role="grid"
                                                       style="margin-left: 0px; width: 237px;">
                                                    <thead>
                                                    <tr class="structure-summary" role="row">
                                                        <th colspan="4" rowspan="1" style="width: 244px;"><span
                                                                class="chemform">Al</span></th>
                                                    </tr>
                                                    <tr class="abc" role="row">
                                                        <th class="sorting_asc" tabindex="0"
                                                            aria-controls="DataTables_Table_2"
                                                            rowspan="1" colspan="1" style="width: 81px;"
                                                            aria-sort="ascending"
                                                            aria-label="a: activate to sort column ascending">
                                                            <div class="badge">a</div>
                                                        </th>
                                                        <th class="sorting" tabindex="0"
                                                            aria-controls="DataTables_Table_2"
                                                            rowspan="1" colspan="1" style="width: 81px;"
                                                            aria-label=" b : activate to sort column ascending">
                                                            <div class="badge">b</div>
                                                        </th>
                                                        <th class="sorting" tabindex="0"
                                                            aria-controls="DataTables_Table_2"
                                                            rowspan="1" colspan="1" style="width: 82px;"
                                                            aria-label=" c : activate to sort column ascending">
                                                            <div class="badge">c</div>
                                                        </th>
                                                    </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="dataTables_scrollBody"
                                             style="overflow: auto; height: 146px; width: 100%;">
                                            <table class="table table-bordered coordinates dataTable no-footer"
                                                   id="DataTables_Table_2" role="grid" style="width: 100%;">
                                                <thead>
                                                <tr class="structure-summary" role="row" style="height: 0px;">
                                                    <th colspan="4" rowspan="1"
                                                        style="padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px; width: 244px;">
                                                        <div class="dataTables_sizing"
                                                             style="height:0;overflow:hidden;"><span
                                                                class="chemform">Al</span></div>
                                                    </th>
                                                </tr>
                                                <tr class="abc" role="row" style="height: 0px;">
                                                    <th class="sorting" aria-controls="DataTables_Table_2" rowspan="1"
                                                        colspan="1"
                                                        style="width: 81px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;">
                                                        <div class="dataTables_sizing"
                                                             style="height:0;overflow:hidden;">
                                                            <div class="badge">a</div>
                                                        </div>
                                                    </th>
                                                    <th class="sorting" aria-controls="DataTables_Table_2" rowspan="1"
                                                        colspan="1"
                                                        style="width: 81px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;">
                                                        <div class="dataTables_sizing"
                                                             style="height:0;overflow:hidden;">
                                                            <div class="badge">b</div>
                                                        </div>
                                                    </th>
                                                    <th class="sorting" aria-controls="DataTables_Table_2" rowspan="1"
                                                        colspan="1"
                                                        style="width: 82px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;">
                                                        <div class="dataTables_sizing"
                                                             style="height:0;overflow:hidden;">
                                                            <div class="badge">c</div>
                                                        </div>
                                                    </th>
                                                </tr>
                                                </thead>

                                                <tbody>
                                                <tr role="row" class="odd">
                                                    <td class="sorting_1">0</td>
                                                    <td>0.1159</td>
                                                    <td>0.4179</td>
                                                </tr>
                                                <tr role="row" class="even">
                                                    <td class="sorting_1">0</td>
                                                    <td>0.8841</td>
                                                    <td>0.5821</td>
                                                </tr>
                                                <tr role="row" class="odd">
                                                    <td class="sorting_1">0.5</td>
                                                    <td>0.3841</td>
                                                    <td>0.9179</td>
                                                </tr>
                                                <tr role="row" class="even">
                                                    <td class="sorting_1">0.5</td>
                                                    <td>0.6159</td>
                                                    <td>0.0821</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div id="DataTables_Table_3_wrapper" class="dataTables_wrapper no-footer">
                                    <div class="dataTables_scroll">
                                        <div class="dataTables_scrollHead"
                                             style="overflow: hidden; position: relative; border: 0px; width: 100%;">
                                            <div class="dataTables_scrollHeadInner"
                                                 style="box-sizing: content-box; width: 237px; padding-left: 0px;">
                                                <table class="table table-bordered coordinates dataTable no-footer"
                                                       role="grid"
                                                       style="margin-left: 0px; width: 237px;">
                                                    <thead>
                                                    <tr class="structure-summary" role="row">
                                                        <th colspan="4" rowspan="1" style="width: 244px;"><span
                                                                class="chemform">Zr</span></th>
                                                    </tr>
                                                    <tr class="abc" role="row">
                                                        <th class="sorting_asc" tabindex="0"
                                                            aria-controls="DataTables_Table_3"
                                                            rowspan="1" colspan="1" style="width: 81px;"
                                                            aria-sort="ascending"
                                                            aria-label="a: activate to sort column ascending">
                                                            <div class="badge">a</div>
                                                        </th>
                                                        <th class="sorting" tabindex="0"
                                                            aria-controls="DataTables_Table_3"
                                                            rowspan="1" colspan="1" style="width: 81px;"
                                                            aria-label=" b : activate to sort column ascending">
                                                            <div class="badge">b</div>
                                                        </th>
                                                        <th class="sorting" tabindex="0"
                                                            aria-controls="DataTables_Table_3"
                                                            rowspan="1" colspan="1" style="width: 82px;"
                                                            aria-label=" c : activate to sort column ascending">
                                                            <div class="badge">c</div>
                                                        </th>
                                                    </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="dataTables_scrollBody"
                                             style="overflow: auto; height: 72px; width: 100%;">
                                            <table class="table table-bordered coordinates dataTable no-footer"
                                                   id="DataTables_Table_3" role="grid" style="width: 100%;">
                                                <thead>
                                                <tr class="structure-summary" role="row" style="height: 0px;">
                                                    <th colspan="4" rowspan="1"
                                                        style="padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px; width: 244px;">
                                                        <div class="dataTables_sizing"
                                                             style="height:0;overflow:hidden;"><span
                                                                class="chemform">Zr</span></div>
                                                    </th>
                                                </tr>
                                                <tr class="abc" role="row" style="height: 0px;">
                                                    <th class="sorting" aria-controls="DataTables_Table_3" rowspan="1"
                                                        colspan="1"
                                                        style="width: 81px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;">
                                                        <div class="dataTables_sizing"
                                                             style="height:0;overflow:hidden;">
                                                            <div class="badge">a</div>
                                                        </div>
                                                    </th>
                                                    <th class="sorting" aria-controls="DataTables_Table_3" rowspan="1"
                                                        colspan="1"
                                                        style="width: 81px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;">
                                                        <div class="dataTables_sizing"
                                                             style="height:0;overflow:hidden;">
                                                            <div class="badge">b</div>
                                                        </div>
                                                    </th>
                                                    <th class="sorting" aria-controls="DataTables_Table_3" rowspan="1"
                                                        colspan="1"
                                                        style="width: 82px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;">
                                                        <div class="dataTables_sizing"
                                                             style="height:0;overflow:hidden;">
                                                            <div class="badge">c</div>
                                                        </div>
                                                    </th>
                                                </tr>
                                                </thead>

                                                <tbody>


                                                <tr role="row" class="odd">
                                                    <td class="sorting_1">0</td>
                                                    <td>0</td>
                                                    <td>0</td>
                                                </tr>
                                                <tr role="row" class="even">
                                                    <td class="sorting_1">0.5</td>
                                                    <td>0.5</td>
                                                    <td>0.5</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!--Lattice Parameters结束-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Manged at https://cdn.fontawesome.com by dwinston-->
<script src="https://use.fontawesome.com/fd3b9caec8.js"></script>

</body>
</html>
