<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--仅显示3维动画页面-->
<head>
    <title>电子结构</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="text/javascript">window.NREUM || (NREUM = {}), __nr_require = function (e, n, t) {
        function r(t) {
            if (!n[t]) {
                var o = n[t] = {exports: {}};
                e[t][0].call(o.exports, function (n) {
                    var o = e[t][1][n];
                    return r(o || n)
                }, o, o.exports)
            }
            return n[t].exports
        }

        if ("function" == typeof __nr_require) return __nr_require;
        for (var o = 0; o < t.length; o++) r(t[o]);
        return r
    }({
        1: [function (e, n, t) {
            function r() {
            }

            function o(e, n, t) {
                return function () {
                    return i(e, [c.now()].concat(u(arguments)), n ? null : this, t), n ? void 0 : this
                }
            }

            var i = e("handle"), a = e(3), u = e(4), f = e("ee").get("tracer"), c = e("loader"), s = NREUM;
            "undefined" == typeof window.newrelic && (newrelic = s);
            var p = ["setPageViewName", "setCustomAttribute", "setErrorHandler", "finished", "addToTrace", "inlineHit", "addRelease"],
                d = "api-", l = d + "ixn-";
            a(p, function (e, n) {
                s[n] = o(d + n, !0, "api")
            }), s.addPageAction = o(d + "addPageAction", !0), s.setCurrentRouteName = o(d + "routeName", !0), n.exports = newrelic, s.interaction = function () {
                return (new r).get()
            };
            var m = r.prototype = {
                createTracer: function (e, n) {
                    var t = {}, r = this, o = "function" == typeof n;
                    return i(l + "tracer", [c.now(), e, t], r), function () {
                        if (f.emit((o ? "" : "no-") + "fn-start", [c.now(), r, o], t), o) try {
                            return n.apply(this, arguments)
                        } catch (e) {
                            throw f.emit("fn-err", [arguments, this, e], t), e
                        } finally {
                            f.emit("fn-end", [c.now()], t)
                        }
                    }
                }
            };
            a("actionText,setName,setAttribute,save,ignore,onEnd,getContext,end,get".split(","), function (e, n) {
                m[n] = o(l + n)
            }), newrelic.noticeError = function (e, n) {
                "string" == typeof e && (e = new Error(e)), i("err", [e, c.now(), !1, n])
            }
        }, {}], 2: [function (e, n, t) {
            function r(e, n) {
                if (!o) return !1;
                if (e !== o) return !1;
                if (!n) return !0;
                if (!i) return !1;
                for (var t = i.split("."), r = n.split("."), a = 0; a < r.length; a++) if (r[a] !== t[a]) return !1;
                return !0
            }

            var o = null, i = null, a = /Version\/(\S+)\s+Safari/;
            if (navigator.userAgent) {
                var u = navigator.userAgent, f = u.match(a);
                f && u.indexOf("Chrome") === -1 && u.indexOf("Chromium") === -1 && (o = "Safari", i = f[1])
            }
            n.exports = {agent: o, version: i, match: r}
        }, {}], 3: [function (e, n, t) {
            function r(e, n) {
                var t = [], r = "", i = 0;
                for (r in e) o.call(e, r) && (t[i] = n(r, e[r]), i += 1);
                return t
            }

            var o = Object.prototype.hasOwnProperty;
            n.exports = r
        }, {}], 4: [function (e, n, t) {
            function r(e, n, t) {
                n || (n = 0), "undefined" == typeof t && (t = e ? e.length : 0);
                for (var r = -1, o = t - n || 0, i = Array(o < 0 ? 0 : o); ++r < o;) i[r] = e[n + r];
                return i
            }

            n.exports = r
        }, {}], 5: [function (e, n, t) {
            n.exports = {exists: "undefined" != typeof window.performance && window.performance.timing && "undefined" != typeof window.performance.timing.navigationStart}
        }, {}], ee: [function (e, n, t) {
            function r() {
            }

            function o(e) {
                function n(e) {
                    return e && e instanceof r ? e : e ? f(e, u, i) : i()
                }

                function t(t, r, o, i) {
                    if (!d.aborted || i) {
                        e && e(t, r, o);
                        for (var a = n(o), u = v(t), f = u.length, c = 0; c < f; c++) u[c].apply(a, r);
                        var p = s[y[t]];
                        return p && p.push([b, t, r, a]), a
                    }
                }

                function l(e, n) {
                    h[e] = v(e).concat(n)
                }

                function m(e, n) {
                    var t = h[e];
                    if (t) for (var r = 0; r < t.length; r++) t[r] === n && t.splice(r, 1)
                }

                function v(e) {
                    return h[e] || []
                }

                function g(e) {
                    return p[e] = p[e] || o(t)
                }

                function w(e, n) {
                    c(e, function (e, t) {
                        n = n || "feature", y[t] = n, n in s || (s[n] = [])
                    })
                }

                var h = {}, y = {}, b = {
                    on: l,
                    addEventListener: l,
                    removeEventListener: m,
                    emit: t,
                    get: g,
                    listeners: v,
                    context: n,
                    buffer: w,
                    abort: a,
                    aborted: !1
                };
                return b
            }

            function i() {
                return new r
            }

            function a() {
                (s.api || s.feature) && (d.aborted = !0, s = d.backlog = {})
            }

            var u = "nr@context", f = e("gos"), c = e(3), s = {}, p = {}, d = n.exports = o();
            d.backlog = s
        }, {}], gos: [function (e, n, t) {
            function r(e, n, t) {
                if (o.call(e, n)) return e[n];
                var r = t();
                if (Object.defineProperty && Object.keys) try {
                    return Object.defineProperty(e, n, {value: r, writable: !0, enumerable: !1}), r
                } catch (i) {
                }
                return e[n] = r, r
            }

            var o = Object.prototype.hasOwnProperty;
            n.exports = r
        }, {}], handle: [function (e, n, t) {
            function r(e, n, t, r) {
                o.buffer([e], r), o.emit(e, n, t)
            }

            var o = e("ee").get("handle");
            n.exports = r, r.ee = o
        }, {}], id: [function (e, n, t) {
            function r(e) {
                var n = typeof e;
                return !e || "object" !== n && "function" !== n ? -1 : e === window ? 0 : a(e, i, function () {
                    return o++
                })
            }

            var o = 1, i = "nr@id", a = e("gos");
            n.exports = r
        }, {}], loader: [function (e, n, t) {
            function r() {
                if (!E++) {
                    var e = x.info = NREUM.info, n = l.getElementsByTagName("script")[0];
                    if (setTimeout(s.abort, 3e4), !(e && e.licenseKey && e.applicationID && n)) return s.abort();
                    c(y, function (n, t) {
                        e[n] || (e[n] = t)
                    }), f("mark", ["onload", a() + x.offset], null, "api");
                    var t = l.createElement("script");
                    t.src = "https://" + e.agent, n.parentNode.insertBefore(t, n)
                }
            }

            function o() {
                "complete" === l.readyState && i()
            }

            function i() {
                f("mark", ["domContent", a() + x.offset], null, "api")
            }

            function a() {
                return O.exists && performance.now ? Math.round(performance.now()) : (u = Math.max((new Date).getTime(), u)) - x.offset
            }

            var u = (new Date).getTime(), f = e("handle"), c = e(3), s = e("ee"), p = e(2), d = window, l = d.document,
                m = "addEventListener", v = "attachEvent", g = d.XMLHttpRequest, w = g && g.prototype;
            NREUM.o = {
                ST: setTimeout,
                SI: d.setImmediate,
                CT: clearTimeout,
                XHR: g,
                REQ: d.Request,
                EV: d.Event,
                PR: d.Promise,
                MO: d.MutationObserver
            };
            var h = "" + location, y = {
                    beacon: "bam.nr-data.net",
                    errorBeacon: "bam.nr-data.net",
                    agent: "js-agent.newrelic.com/nr-1118.min.js"
                }, b = g && w && w[m] && !/CriOS/.test(navigator.userAgent),
                x = n.exports = {offset: u, now: a, origin: h, features: {}, xhrWrappable: b, userAgent: p};
            e(1), l[m] ? (l[m]("DOMContentLoaded", i, !1), d[m]("load", r, !1)) : (l[v]("onreadystatechange", o), d[v]("onload", r)), f("mark", ["firstbyte", u], null, "api");
            var E = 0, O = e(5)
        }, {}]
    }, {}, ["loader"]);</script>
    <script type="text/javascript">window.NREUM || (NREUM = {});
    NREUM.info = {
        "beacon": "bam.nr-data.net",
        "errorBeacon": "bam.nr-data.net",
        "licenseKey": "488418a6fe",
        "applicationID": "176556248",
        "transactionName": "MlYDZxNRXUBVB0xRXQscJ0YPU0daWwoXTUYMXxIdAl9dXVEHTFdAX14FUU8MX1xXBVRLDEtEE1IRQFZX",
        "queueTime": 1,
        "applicationTime": 375,
        "agent": ""
    }</script>

    <!--    <meta name="viewport" content="user-scalable = no">
       -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta name="keywords" content="Sodium peroxide - IV, Sodium peroxide - III, Sodium peroxide - II"/>
    <meta name="description"
          content="NaO2 is Marcasite structured and crystallizes in the orthorhombic Pnnm space group. The structure is three-dimensional. Na is bonded to six equivalent O atoms to form NaO6 octahedra that share corners with eight equivalent NaO6 octahedra, corners with six equivalent ONa3O tetrahedra, and edges with two equivalent NaO6 octahedra. The corner-sharing octahedral tilt angles are 71°. All Na–O bond lengths are 2.42 Å. O is bonded to three equivalent Na and one O atom to form distorted ONa3O tetrahedra that share corners with three equivalent NaO6 octahedra, corners with thirteen equivalent ONa3O tetrahedra, and  an edgeedge with one ONa3O tetrahedra. The corner-sharing octahedra tilt angles range from 58–69°. The O–O bond length is 1.35 Å."/>
    <link rel="search"
          type="application/opensearchdescription+xml"
          title="Search Materials Project"
          href='opensearch.25669ffdaab0.xml'>
    <link rel="shortcut icon" href='/images/favicon.00f51d402f3d.png'/>
    <link rel="stylesheet" href='stylesheets/less/compiled/nucleus.5db1710fde48.css' charset="utf-8">
    <link rel="stylesheet" href='stylesheets/less/compiled/app.12ad2f516774.css' charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">
    <!-- LH -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.2.1/echarts.js"></script>

    <script type="text/javascript">
        if (!window.console) window.console = {};
        if (!window.console.log) window.console.log = function () {
        };
    </script>

    <script src="/static/scomponents/requirejs/require.a0fb07562cea.js"
            data-main="/static/js/dist/config.fa1f1c266ba8.js"></script>

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-26097776-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>



    <meta charset="utf-8">
    <style type="text/css">

        a:link,
        a:hover,
        a:visited,
        a:active {
            color: #fff;
            text-decoration: none;
        }

        body {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;

            background: #fff;
        }

        .card-holder {
            position: fixed;
            width: 0px;
            overflow: visible;
        }

        .card-wrapper {
            display: inline-block;
            float: right;
            clear: both;
        }

        .card {
            position: relative;
            left: 32px;
            padding: 16px 32px 16px 64px;
            margin: 8px;
            x-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 8px 0 8px -8px rgba(0, 0, 0, 0.5);
            background: #fff;
            transition: all 0.3s ease-in-out 0.1s;
        }

        .card:hover {
            position: relative;
            left: 100%;
            margin-left: -32px;
            box-shadow: 0 -8px 8px -8px rgba(0, 0, 0, 0.5),
            0 8px 8px -8px rgba(0, 0, 0, 0.5);
            transition: all 0.3s ease-in-out;
        }

        .card-content {
            display: inline-block;
            color: #fff;
            font-family: 'Droid Sans', sans-serif;
            font-size: 16px;
            font-weight: bold;
            white-space: nowrap;
        }

        .bg-01 {
            background: #539770;
        }

        .bg-02 {
            background: #4B7D74;
        }

        .bg-03 {
            background: #8DC2BC;
        }

        .bg-04 {
            background: #EDD6B4;
        }

        .bg-05 {
            background: #BE7467;
        }

        .bg-06 {
            background: #E2AE63;
        }

    </style>

</head>
<script src="js/admin/jquery.min.js"></script>
<script src="js/admin/bootstrap.min.js?v=3.3.6"></script>
<body>
<header>
    <div th:replace="foreWeb/index1::nav"></div>
</header>

<div class="container">
    <input id="materialName" type="hidden" th:attr="value=${materialName}">
    <div class="detail" id="material">
        <div class="row detail-header">
			<span class="detail-section">
				<h5><small>material</small></h5>
                <!--<h4 class="chemform">NaO<sub>2</sub></h4>-->
                <h4 class="chemform" th:text="${materialName}"></h4>
			</span>
            <span class="vertical-line"></span>
            <span class="detail-section">
				<h5><small>ID:</small></h5>
				<h4>-</h4>
			</span>
            <span class="vertical-line"></span>
            <span class="detail-section">
	</span>
            <span class="vertical-line"></span>


            <span class="detail-section pull-right">

  </span>
        </div>
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span1">
                    </div>
                    <div class="span6">
                        <!--电子能带结构图显示部分-->
                        <div class="box-header span9">
                            <div class="row">
                                <div class="span9">
                                    <h4 align="centwe">电子能带结构图</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row panel-body">
                            <div class="span9" align="left">
                                <div id = "main2" style = "width: 700px;height:500px;">
                                </div>
                            </div>
                        </div>
                        <!--电子能带结构图显示部分结束-->
                        <div class="structures pull-down">
                            <header>
                                <h4>显示不同计算方法获得数据库信息</h4>
                            </header>
                            <!-- 4项按钮 -->
                            <button class="btn btn-primary btn-small">LDA
                            </button>
                            <button class="btn btn-primary btn-small">PBE
                            </button>
                            <button class="btn btn-primary btn-small">SCAN
                            </button>
                            <button class="btn btn-primary btn-small">PBEsol
                            </button>
                            <!-- 4按钮结束 -->
                        </div>

                        <hr class="pull-up">
                        <button class="btn btn-primary" id="edit-xtal">导出数据</button>

<!--                        <div class="pull-down pull-up">-->
<!--                            <strong>标签: </strong>-->
<!--                            <span class="label-bg tag" th:text="${materialName}"></span>-->
<!--                        </div>-->
                        <br>
                        <br>
                        <br>
                        <!-- 总态密度图  -->
                        <div class="box-header span9">
                            <div class="row">
                                <div class="span9">
                                    <h4 align="centwe">总态密度图</h4>
                                </div>
                                <!--<div class="span2">-->
                                <!--<h5>Density of States</h5>-->
                                <!--</div>-->
                            </div>
                        </div>
                        <div class="row panel-body">
                            <div class="span9" align="left">
                                <div id="main" style="width: 700px;height:500px;">
                                </div>
                            </div>
                        </div>

                        <!--PDOS-->
                        <div class="box-header span9">
                            <div class="row">
                                <div class="span9">
                                    <h4 align="centwe">PDOS</h4>
                                </div>
                                <!--<div class="span2">-->
                                <!--<h5>Density of States</h5>-->
                                <!--</div>-->
                            </div>
                        </div>
                        <div class="row panel-body">
                            <div class="span9" align="left">
                                <div id="mainPDOS" style="width: 700px;height:500px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Manged at https://cdn.fontawesome.com by dwinston-->
<script src="https://use.fontawesome.com/fd3b9caec8.js"></script>

</body>
<!--电子能带结构图-->
<script th:inline="javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main2'));
    var dataList = [[${data_band}]];
    // console.log("能带数据：" + dataList);
    // console.log("能带数据长度：" + dataList.length);
    var seriesData = [];
    for (var i = 0; i < dataList.length; i++) {
        var obj = new Object();
        obj.type = 'line';
        obj.data = dataList[i];
        // console.log("能带数据：" + dataList[i]);
        seriesData[i] = obj;
    }
    // 指定图表的配置项和数据
    var option_band = {
        // title: {
        //     text: '电子能带结构图'
        // },
        tooltip: {},
        xAxis: {
            name: '波矢量(k)'
        },
        yAxis: {
            name: '能量(eV)'
        },
        dataZoom: [
            {
                type: 'inside',
                xAxisIndex: [0],
                start: 0,
                end: 100
            },
            {
                type: 'inside',
                yAxisIndex: [0],
                start: 0,
                end: 100
            }
        ],
        series: seriesData
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option_band);
</script>
<!--总态密度图-->
<script th:inline="javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    var dataList = [[${yuanSuData}]];
    var seriesData = [];
    var names = [[${nameYuanSu}]];
    var name = [names[1], names[2], names[3]];
    for (var i = 0; i < dataList.length; i++) {
        var obj = new Object();
        obj.type = 'line';
        obj.name = names[i];
        obj.data = dataList[i];
        // console.log("能带数据：" + dataList[i]);
        seriesData[i] = obj;
    }
    console.log(seriesData);
    console.log(names);
    console.log(name);
    // 指定图表的配置项和数据
    var option = {
        // title: {
        //     text: '总态密度图'
        // },
        tooltip: {},
        legend: {
            data: names
        },
        xAxis: {
            name: '能量(eV)'
        },
        yAxis: {
            name: '态密度(states/eV.cell)'
        },
        dataZoom: [
            {
                type: 'inside',
                xAxisIndex: [0],
                start: 0,
                end: 100
            },
            {
                type: 'inside',
                yAxisIndex: [0],
                start: 0,
                end: 100
            }
        ],
        series: seriesData
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
<!--PDOS-->
<script th:inline="javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('mainPDOS'));
    var dataList = [[${dataPDOS}]];
    // console.log("PDOS数据：" + dataList);
    // console.log("PDOS长度：" + dataList.length);
    var seriesData = [];
    var names = ["s", "p", "d", "f"];
    for (var i = 0; i < dataList.length; i++) {
        var obj = new Object();
        obj.type = 'line';
        obj.name = names[i];
        obj.data = dataList[i];
        // console.log("PDOS：" + dataList[i]);
        seriesData[i] = obj;
    }
    // 指定图表的配置项和数据
    var option_band = {
        // title: {
        //     text: '电子能带结构图'
        // },
        tooltip: {
        },
        legend: {
            data: names
        },
        xAxis: {
            name: '能量(eV)'
        },
        yAxis: {
            name: '态密度(states/eV.cell)'
        },
        dataZoom: [
            {
                type: 'inside',
                xAxisIndex: [0],
                start: 0,
                end: 100
            },
            {
                type: 'inside',
                yAxisIndex: [0],
                start: 0,
                end: 100
            }
        ],
        series: seriesData
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option_band);
</script>
</html>
