<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://cdn.bootcss.com/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
</head>
<body>
<div class="container">
    <div class="main">
        <table>
            <tr>
                <td class="htmlColor"><a>氢 H</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td id="He" name="He" class="titleColor">氦 He</td>
            </tr>
            <tr>
                <td id="Li" name="Li" class="blockColor">锂 Li</td>
                <td id="Be" name="Be" class="inlineColor">铍 Be</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="htmlColor">硼 B</td>
                <td class="htmlColor">碳 C</td>
                <td class="htmlColor">氮 N</td>
                <td class="htmlColor">氧 O</td>
                <td class="htmlColor">氟 F</td>
                <td class="titleColor">氖 Ne</td>
            </tr>
            <tr>
                <td class="blockColor">钠 Na</td>
                <td class="inlineColor">镁 Mg</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="headColor">铝 Al</td>
                <td class="htmlColor">硅 Si</td>
                <td class="htmlColor">磷 P</td>
                <td class="htmlColor">硫 S</td>
                <td class="htmlColor">氯 Cl</td>
                <td class="titleColor">氩 Ar</td>
            </tr>
            <tr>
                <td class="blockColor">钾 K</td>
                <td class="inlineColor">钙 Ca</td>
                <td class="inlineBlockColor">钪 Sc</td>
                <td class="inlineBlockColor">钛 Ti</td>
                <td class="inlineBlockColor">钒 V</td>
                <td class="inlineBlockColor">铬 Cr</td>
                <td class="inlineBlockColor">锰 Mn</td>
                <td class="inlineBlockColor">铁 Fe</td>
                <td class="inlineBlockColor">钴 Co</td>
                <td class="inlineBlockColor">镍 Ni</td>
                <td class="inlineBlockColor">铜 Cu</td>
                <td class="inlineBlockColor">锌 Zn</td>
                <td class="headColor">镓 Ga</td>
                <td class="headColor">锗 Ge</td>
                <td class="htmlColor">砷 As</td>
                <td class="htmlColor">硒 Se</td>
                <td class="htmlColor">溴 Br</td>
                <td class="titleColor">氪 Kr</td>
            </tr>
            <tr>
                <td class="blockColor">铷 Rb</td>
                <td class="inlineColor">锶 Sr</td>
                <td class="inlineBlockColor">钇 Y</td>
                <td class="inlineBlockColor">锆 Zr</td>
                <td class="inlineBlockColor">铌 Nb</td>
                <td class="inlineBlockColor">钼 Mo</td>
                <td class="inlineBlockColor">锝 Tc</td>
                <td class="inlineBlockColor">钌 Ru</td>
                <td class="inlineBlockColor">铑 Rh</td>
                <td class="inlineBlockColor">钯 Pb</td>
                <td class="inlineBlockColor">银 Ag</td>
                <td class="inlineBlockColor">镉 Cd</td>
                <td class="headColor">铟 In</td>
                <td class="headColor">锡 Sn</td>
                <td class="headColor">锑 Sb</td>
                <td class="htmlColor">碲Te</td>
                <td class="htmlColor">碘 I</td>
                <td class="titleColor">氙 Xe</td>
            </tr>
            <tr>
                <td class="blockColor">铯 Cs</td>
                <td class="inlineColor">钡 Ba</td>
                <td class="tableColor">镧系 La-Lu</td>
                <td class="inlineBlockColor">铪 Hf</td>
                <td class="inlineBlockColor">钽 Ta</td>
                <td class="inlineBlockColor">钨 W</td>
                <td class="inlineBlockColor">铼 Re</td>
                <td class="inlineBlockColor">锇 Os</td>
                <td class="inlineBlockColor">铱 Ir</td>
                <td class="inlineBlockColor">铂 Pt</td>
                <td class="inlineBlockColor">金 Au</td>
                <td class="inlineBlockColor">汞 Hg</td>
                <td class="headColor">铊 Tl</td>
                <td class="headColor">铅 Pb</td>
                <td class="headColor">铋 Bi</td>
                <td class="headColor">钋 Po</td>
                <td class="htmlColor">砹 At</td>
                <td class="titleColor">氡 Rn</td>
            </tr>
            <tr>
                <td class="blockColor">钫 Fr</td>
                <td class="inlineColor">镭 Ra</td>
                <td class="tableColor">锕系 Ac-Lr</td>
                <td class="inlineBlockColor">鑪 Rf</td>
                <td class="inlineBlockColor">𨧀 Db</td>
                <td class="inlineBlockColor">𨭎 Sg</td>
                <td class="inlineBlockColor">𨨏 Bh</td>
                <td class="inlineBlockColor">𨭆 Hs</td>
                <td class="inlineBlockColor">䥑 Mt</td>
                <td class="inlineBlockColor">鐽 Ds</td>
                <td class="inlineBlockColor">錀 Rg</td>
                <td class="inlineBlockColor">Uub</td>
                <td class="headColor">Uut</td>
                <td class="headColor">Uuq</td>
                <td class="headColor">Uup</td>
                <td class="headColor">Uuh</td>
                <td class="menuColor">Uus</td>
                <td class="menuColor">Uuo</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td class="menuColor">镧系</td>
                <td class="tableColor">镧 La</td>
                <td class="tableColor">铈 Ce</td>
                <td class="tableColor">镨 Pr</td>
                <td class="tableColor">钕 Nd</td>
                <td class="tableColor">钷 Pm</td>
                <td class="tableColor">钐 Sm</td>
                <td class="tableColor">铕 Eu</td>
                <td class="tableColor">钆 Gd</td>
                <td class="tableColor">铽 Tb</td>
                <td class="tableColor">镝 Dy</td>
                <td class="tableColor">钬 Ho</td>
                <td class="tableColor">铒 Br</td>
                <td class="tableColor">铥 Tm</td>
                <td class="tableColor">镱 Yb</td>
                <td class="tableColor">镥 Lu</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td class="menuColor">锕系</td>
                <td class="inlineBlockColor">锕 Ac</td>
                <td class="inlineBlockColor">钍 Th</td>
                <td class="inlineBlockColor">镤 Pa</td>
                <td class="inlineBlockColor">铀 U</td>
                <td class="inlineBlockColor">镎 Np</td>
                <td class="inlineBlockColor">钚 Pu</td>
                <td class="inlineBlockColor">镅 Am</td>
                <td class="inlineBlockColor">锔 Cm</td>
                <td class="inlineBlockColor">锫 Bk</td>
                <td class="inlineBlockColor">锎 Cf</td>
                <td class="inlineBlockColor">锿 Es</td>
                <td class="inlineBlockColor">镄 Fm</td>
                <td class="inlineBlockColor">钔 Md</td>
                <td class="inlineBlockColor">锘 No</td>
                <td class="inlineBlockColor">铹 Lr</td>
            </tr>
        </table>
    </div>

    <div class="info">
        <h3></h3>
        <p></p>
        <a href="#">Mozilla,W3C Reference</a>
    </div>
    <div class="end">
        <ul>
            <li><span class="htmlColor"></span>根元素</li>
            <li><span class="headColor"></span>元数据和脚本</li>
            <li><span class="inlineBlockColor"></span>嵌入式内容</li>
        </ul>
        <ul>
            <li><span class="inlineColor"></span>文本级别语义</li>
            <li><span class="blockColor"></span>组合内容</li>
        </ul>
        <ul>
            <li><span class="formColor"></span>表单</li>
            <li><span class="titleColor"></span>文档章节</li>
        </ul>
        <ul>
            <li><span class="tableColor"></span>表格数据</li>
            <li><span class="menuColor"></span>交互元素</li>
        </ul>
    </div>
</div>
<script>
    // $(function(){
    //     var $td = $("td");
    //     alert($td);
    //     var $info = $(".info");
    //     alert($info);
    //     var data;
    //     $.ajax({
    //         type:"get",
    //         url:"/static/js/elements.json",
    //         async:true,
    //         success:function(d){
    //             alert(d);
    //             data = d;
    //         }
    //     });
    //     $td.mouseenter(function(e){
    //         $(this).mousemove(function(e){
    //             mousex = e.clientX;
    //             mousey = e.clientY;
    //             var $tdCont = $(this).text();
    //             if($tdCont!= ""){
    //                 $(this).addClass("active");
    //             }
    //
    //             for(var attr in data){
    //                 var title = data[attr].name;
    //                 if(title == $tdCont){
    //
    //                     $info.css("display","block");
    //                     $info.find("h3").html("<"+title+">");
    //                     $info.find("p").html(data[attr].value);
    //                     if(mousex > ($(window).width()- $info.width()-10)){
    //                         $info.offset({left:mousex - $info.width()-10,top:mousey+10})
    //                     }else{
    //                         $info.offset({left:mousex +10,top:mousey+10})
    //                     }
    //                 }
    //             }
    //
    //
    //         })
    //
    //     })
    //
    //     $td.mouseleave(function(){
    //         $(this).removeClass("active");
    //         $info.hide();
    //     })
    //
    // })
</script>
</body>
<script>
    $.backstretch("/img/timg.jpg", {speed: 0});
</script>
</html>