<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjtu.materials.mapper.PublicationMapper" >
  <resultMap id="BaseResultMap" type="com.xjtu.materials.pojo.Publication" >
    <id column="publicationID" property="publicationid" jdbcType="VARCHAR" />
    <result column="publicationName" property="publicationname" jdbcType="VARCHAR" />
    <result column="publicationAuthor" property="publicationauthor" jdbcType="VARCHAR" />
    <result column="publicationSummary" property="publicationsummary" jdbcType="VARCHAR" />
    <result column="publicationType" property="publicationtype" jdbcType="VARCHAR" />
    <result column="publicationDOI" property="publicationdoi" jdbcType="VARCHAR" />
    <result column="publicationWebsite" property="publicationwebsite" jdbcType="VARCHAR" />
    <result column="userName" property="username" jdbcType="VARCHAR" />
    <result column="uploadTime" property="uploadtime" jdbcType="VARCHAR" />
    <result column="isAuthenticated" property="isauthenticated" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    publicationID, publicationName, publicationAuthor, publicationSummary, publicationType, 
    publicationDOI, publicationWebsite, userName, uploadTime, isAuthenticated
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xjtu.materials.pojo.PublicationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from publication
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from publication
    where publicationID = #{publicationid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from publication
    where publicationID = #{publicationid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xjtu.materials.pojo.PublicationExample" >
    delete from publication
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xjtu.materials.pojo.Publication" >
    insert into publication (publicationID, publicationName, publicationAuthor, 
      publicationSummary, publicationType, publicationDOI, 
      publicationWebsite, userName, uploadTime, 
      isAuthenticated)
    values (#{publicationid,jdbcType=VARCHAR}, #{publicationname,jdbcType=VARCHAR}, #{publicationauthor,jdbcType=VARCHAR}, 
      #{publicationsummary,jdbcType=VARCHAR}, #{publicationtype,jdbcType=VARCHAR}, #{publicationdoi,jdbcType=VARCHAR}, 
      #{publicationwebsite,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{uploadtime,jdbcType=VARCHAR}, 
      #{isauthenticated,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xjtu.materials.pojo.Publication" >
    insert into publication
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="publicationid != null" >
        publicationID,
      </if>
      <if test="publicationname != null" >
        publicationName,
      </if>
      <if test="publicationauthor != null" >
        publicationAuthor,
      </if>
      <if test="publicationsummary != null" >
        publicationSummary,
      </if>
      <if test="publicationtype != null" >
        publicationType,
      </if>
      <if test="publicationdoi != null" >
        publicationDOI,
      </if>
      <if test="publicationwebsite != null" >
        publicationWebsite,
      </if>
      <if test="username != null" >
        userName,
      </if>
      <if test="uploadtime != null" >
        uploadTime,
      </if>
      <if test="isauthenticated != null" >
        isAuthenticated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="publicationid != null" >
        #{publicationid,jdbcType=VARCHAR},
      </if>
      <if test="publicationname != null" >
        #{publicationname,jdbcType=VARCHAR},
      </if>
      <if test="publicationauthor != null" >
        #{publicationauthor,jdbcType=VARCHAR},
      </if>
      <if test="publicationsummary != null" >
        #{publicationsummary,jdbcType=VARCHAR},
      </if>
      <if test="publicationtype != null" >
        #{publicationtype,jdbcType=VARCHAR},
      </if>
      <if test="publicationdoi != null" >
        #{publicationdoi,jdbcType=VARCHAR},
      </if>
      <if test="publicationwebsite != null" >
        #{publicationwebsite,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="uploadtime != null" >
        #{uploadtime,jdbcType=VARCHAR},
      </if>
      <if test="isauthenticated != null" >
        #{isauthenticated,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xjtu.materials.pojo.PublicationExample" resultType="java.lang.Integer" >
    select count(*) from publication
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update publication
    <set >
      <if test="record.publicationid != null" >
        publicationID = #{record.publicationid,jdbcType=VARCHAR},
      </if>
      <if test="record.publicationname != null" >
        publicationName = #{record.publicationname,jdbcType=VARCHAR},
      </if>
      <if test="record.publicationauthor != null" >
        publicationAuthor = #{record.publicationauthor,jdbcType=VARCHAR},
      </if>
      <if test="record.publicationsummary != null" >
        publicationSummary = #{record.publicationsummary,jdbcType=VARCHAR},
      </if>
      <if test="record.publicationtype != null" >
        publicationType = #{record.publicationtype,jdbcType=VARCHAR},
      </if>
      <if test="record.publicationdoi != null" >
        publicationDOI = #{record.publicationdoi,jdbcType=VARCHAR},
      </if>
      <if test="record.publicationwebsite != null" >
        publicationWebsite = #{record.publicationwebsite,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null" >
        userName = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.uploadtime != null" >
        uploadTime = #{record.uploadtime,jdbcType=VARCHAR},
      </if>
      <if test="record.isauthenticated != null" >
        isAuthenticated = #{record.isauthenticated,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update publication
    set publicationID = #{record.publicationid,jdbcType=VARCHAR},
      publicationName = #{record.publicationname,jdbcType=VARCHAR},
      publicationAuthor = #{record.publicationauthor,jdbcType=VARCHAR},
      publicationSummary = #{record.publicationsummary,jdbcType=VARCHAR},
      publicationType = #{record.publicationtype,jdbcType=VARCHAR},
      publicationDOI = #{record.publicationdoi,jdbcType=VARCHAR},
      publicationWebsite = #{record.publicationwebsite,jdbcType=VARCHAR},
      userName = #{record.username,jdbcType=VARCHAR},
      uploadTime = #{record.uploadtime,jdbcType=VARCHAR},
      isAuthenticated = #{record.isauthenticated,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xjtu.materials.pojo.Publication" >
    update publication
    <set >
      <if test="publicationname != null" >
        publicationName = #{publicationname,jdbcType=VARCHAR},
      </if>
      <if test="publicationauthor != null" >
        publicationAuthor = #{publicationauthor,jdbcType=VARCHAR},
      </if>
      <if test="publicationsummary != null" >
        publicationSummary = #{publicationsummary,jdbcType=VARCHAR},
      </if>
      <if test="publicationtype != null" >
        publicationType = #{publicationtype,jdbcType=VARCHAR},
      </if>
      <if test="publicationdoi != null" >
        publicationDOI = #{publicationdoi,jdbcType=VARCHAR},
      </if>
      <if test="publicationwebsite != null" >
        publicationWebsite = #{publicationwebsite,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="uploadtime != null" >
        uploadTime = #{uploadtime,jdbcType=VARCHAR},
      </if>
      <if test="isauthenticated != null" >
        isAuthenticated = #{isauthenticated,jdbcType=VARCHAR},
      </if>
    </set>
    where publicationID = #{publicationid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xjtu.materials.pojo.Publication" >
    update publication
    set publicationName = #{publicationname,jdbcType=VARCHAR},
      publicationAuthor = #{publicationauthor,jdbcType=VARCHAR},
      publicationSummary = #{publicationsummary,jdbcType=VARCHAR},
      publicationType = #{publicationtype,jdbcType=VARCHAR},
      publicationDOI = #{publicationdoi,jdbcType=VARCHAR},
      publicationWebsite = #{publicationwebsite,jdbcType=VARCHAR},
      userName = #{username,jdbcType=VARCHAR},
      uploadTime = #{uploadtime,jdbcType=VARCHAR},
      isAuthenticated = #{isauthenticated,jdbcType=VARCHAR}
    where publicationID = #{publicationid,jdbcType=VARCHAR}
  </update>

  <select id="selectLikePName" resultType="com.xjtu.materials.pojo.Publication">
    SELECT *
    FROM publication
    WHERE publication.publicationName LIKE #{param,jdbcType=VARCHAR};
  </select>

  <select id="selectLikeUName" resultType="com.xjtu.materials.pojo.Publication">
    SELECT *
    FROM publication
    WHERE publication.publicationAuthor LIKE #{param,jdbcType=VARCHAR};
  </select>

  <select id="selectLikeType" resultType="com.xjtu.materials.pojo.Publication">
    SELECT *
    FROM publication
    WHERE publication.publicationType LIKE #{param,jdbcType=VARCHAR};
  </select>

  <select id="selectByUserId" resultType="java.lang.String">
    SELECT publicationName
    FROM log,publication
    WHERE log.userID=#{param,jdbcType=VARCHAR} AND log.logType="Publication" AND log.paramID=publication.publicationID;
  </select>

</mapper>